<div class="card mid">
  <h3>Xác thực mật khẩu</h3><br>
  <form nz-form [formGroup]="formResetPassword" class="login-form" (ngSubmit)="save()">

    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Mật khẩu mới" />
        </nz-input-group>
        <error-msg [profileForm]="formResetPassword" key="password" check="required" msg="Vui lòng không để trống."></error-msg>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control >
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password_confirmation" placeholder="{{'auth.password_confirm' | translate}}" />
        </nz-input-group>
        <error-msg [profileForm]="formResetPassword" key="password_confirmation" check="required" msg="Vui lòng không để trống."></error-msg>
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Đổi mật khẩu</button>
  </form>
</div>
