<div class="container-fluid" style="background-color: #f7f9fa;">
  <div class="container p-5">
    <div>
      <h4 class="fw-bold">Đặt phòng khách sạn</h4>
      <p class="fw-bold" style="color: #687176; font-size: 14px;">Hãy chắc chắn rằng tất cả thông tin trên trang này là
        chính xác trước khi tiến hành thanh toán.</p>
    </div>
    <div class="content d-flex flex-row justify-content-between">
      <!-- Left Columm -->
      <div class="col p-0 me-4">
        <div class="d-flex flex-row bg-white rounded-4 p-3 mb-3">
          <img src="./../../../assets/image/gift.png" alt="" class="me-3">
          <div class="my-auto">
            <p class="fw-bold">Đăng nhập hoặc Đăng ký và tận hưởng ưu đãi dành riêng cho thành viên</p>
            <a href="login" class="fw-bold">Đăng nhập hoặc đăng ký</a>
          </div>
        </div>

        <!-- Info form start -->
        <div class="mb-3">
          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <p-panel header="Chi tiết liên hệ (cho Vé điện tử/Phiếu xác nhận)">
              <div class="ui-fluid forms-grid" style="margin: 1em 0">
                <div>
                  <div>Họ và tên *</div>
                  <div class="d-flex flex-column my-auto" style="width: 100%;">
                    <div>
                      <input style="width: 100%;" pInputText type="text" formControlName="fullname"
                        placeholder="VD: Le Dai Duong" />
                      <p-message severity="error" text="Fullname is required"
                        *ngIf="!userform.controls['fullname'].valid&&userform.controls['fullname'].dirty"></p-message>
                    </div>
                    <p class="gray-text mt-2">*Nhập tên như trên CMND/hộ chiếu (không dấu)</p>
                  </div>
                </div>
                <div class="d-flex flex-row">

                  <div class="me-4">
                    <div class="">
                      <div class="d-flex flex-column">
                        <div>Số điện thoại</div>
                        <div class="d-flex flex-row">
                          <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
                            [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                            <ng-template let-country pTemplate="item">
                              <div class="country-item">
                                <div>{{ country.name }}</div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                          <div style="width: 100%;">
                            <input style="width: 100%;" pInputText type="text" formControlName="phoneNumber"
                              placeholder="Required" />
                            <p-message severity="error" text="Nhập vào đê"
                              *ngIf="!userform.controls['phoneNumber'].valid&&userform.controls['phoneNumber'].dirty"></p-message>
                          </div>
                        </div>

                      </div>

                    </div>
                    <p>VD: +84 901234567 trong đó (+84) là mã quốc gia còn 901234567 là số di động</p>
                  </div>
                  <div class="ml-5">
                    <div>Email *</div>
                    <div>
                      <input pInputText type="text" formControlName="email" placeholder="Required" />
                      <p-message severity="error" text="Nhập vào đê"
                        *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty"></p-message>
                    </div>
                    <p>VD: email@example.com</p>
                  </div>
                </div>

                <!-- <div>
                  <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div> -->
              </div>
            </p-panel>

          </form>
          <div style="width: 100%; background-color: #f2f3f3;" class="text-center py-3 rounded-bottom-4">
            <div class="d-flex flex-row justify-content-evenly">
              <div class="flex align-items-center">
                <p-radioButton id="hideToggleButton" name="guest" value="myself" [(ngModel)]="ingredient"
                  inputId="ingredient1"></p-radioButton>
                <label for="ingredient1" class="ml-2">Tôi là khách lưu trú</label>
              </div>

              <div class="flex align-items-center">
                <p-radioButton id="showToggleButton" name="guest" value="other" [(ngModel)]="ingredient"
                  inputId="ingredient4"></p-radioButton>
                <label for="ingredient4" class="ml-2">Tôi đang đặt cho người khác</label>
              </div>
            </div>
          </div>
          <div id="content">Nội dung được ẩn/hiện</div>
        </div>
        <!-- Info form end -->

        <!-- Services form start -->
        <div class="mb-3">
          <h5 class="fw-bold">Yêu cầu đặc biệt</h5>
          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <p-panel
              header="Cơ sở lưu trú sẽ cố gắng đáp ứng yêu cầu của bạn dựa trên tình trạng sẵn có. Lưu ý rằng bạn có thể phải trả thêm phí cho một số yêu cầu và bạn không thể sửa yêu cầu sau khi đã gửi.">
              <div class="ui-fluid forms-grid" style="margin: 1em 0">
                <div class="d-flex flex-row justify-content-around">
                  <div class="flex align-items-center">
                    <p-checkbox name="servies" value="1" [(ngModel)]="ingredient" inputId="1"></p-checkbox>
                    <label for="1" class="ml-2">Phòng không hút thuốc</label>
                  </div>

                  <div class="flex align-items-center">
                    <p-checkbox name="servies" value="2" [(ngModel)]="ingredient" inputId="2"></p-checkbox>
                    <label for="2" class="ml-2">phòng liên thông</label>
                  </div>
                  <div class="flex align-items-center">
                    <p-checkbox name="servies" value="3" [(ngModel)]="ingredient" inputId="3"></p-checkbox>
                    <label for="3" class="ml-2">Loại giường</label>
                  </div>
                </div>

              </div>

            </p-panel>

          </form>
        </div>
        <!-- Services form End -->

        <!-- Room policy start -->
        <div class="mb-3">
          <h5 class="fw-bold">Chính sách hủy đặt phòng</h5>
          <div class="d-flex flex-row bg-white rounded-4 p-3 mb-3">
            <p class="gray-text">Đặt phòng này <strong>không thể hoàn tiền và không thể đổi lịch.</strong></p>
          </div>
        </div>
        <!-- Room policy end -->

        <!-- Detail price start -->
        <div class="mb-3">
          <h5 class="fw-bold">Chi tiết giá</h5>
          <p-accordion [activeIndex]="0">
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="bg-white rounded-4 p-3">
                  <div class="d-flex flex-row justify-content-between mb-3">
                    <p class="my-auto" style="font-size: 14px; font-weight: 500;">Thành tiền</p>
                    <h5 class="fw-bold text-primary">3.751.440 VND</h5>
                  </div>
                  <div class="blue-text d-flex flex-row">
                    <i class="fa fa-exclamation-circle me-3 fs-3" aria-hidden="true"></i>
                    <p>Thuế và phí là các khoản được Traveloka chuyển trả cho khách sạn. Mọi thắc mắc về thuế và hóa
                      đơn, vui
                      lòng tham khảo Điều khoản và Điều kiện của Traveloka để được giải đáp</p>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div>
                  <div class="d-flex flex-row justify-content-between mb-3">
                    <h5 class="">(1x) Deluxe Room Only - Bar - 01 Occ (1 đêm)</h5>
                    <h5 class="">3.248.000 VND</h5>
                  </div>
                  <div class="d-flex flex-row justify-content-between ">
                    <h5 class="">Thuế và phí</h5>
                    <h5 class="">503.440 VND</h5>
                  </div>
                </div>
              </ng-template>

            </p-accordionTab>
          </p-accordion>
          <!-- <h5 class="fw-bold">Chi tiết giá</h5>
          <div class="bg-white rounded-4 p-3 mb-3">
            <div class="d-flex flex-row justify-content-between mb-3">
              <p class="my-auto" style="font-size: 14px; font-weight: 500;">Thành tiền</p>
              <h5 class="fw-bold">3.751.440 VND</h5>
            </div>
            <div class="blue-text d-flex flex-row">
              <i class="fa fa-exclamation-circle me-3 fs-3" aria-hidden="true"></i>
              <p>Thuế và phí là các khoản được Traveloka chuyển trả cho khách sạn. Mọi thắc mắc về thuế và hóa đơn, vui
                lòng tham khảo Điều khoản và Điều kiện của Traveloka để được giải đáp</p>
            </div>
            <hr>
            <div>
              <div class="d-flex flex-row justify-content-between mb-3">
                <h5 class="">(1x) Deluxe Room Only - Bar - 01 Occ (1 đêm)</h5>
                <h5 class="">3.248.000 VND</h5>
              </div>
              <div class="d-flex flex-row justify-content-between ">
                <h5 class="">Thuế và phí</h5>
                <h5 class="">503.440 VND</h5>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Detail price end -->

        <!-- Confirm start -->
        <div>
          <div class="d-flex flex-row justify-content-between mb-3">
            <p class="fw-bold">Khi nhấn vào nút này bạn
              công nhận mình đã đọc và
              đồng ý với các <span class="text-primary">Điều khoản & Điều kiện</span> và
              <span class="text-primary">Chính sách quyền riêng tư</span> của NineHotel
            </p>
            <h6 class="ml-5">
              <a href="booking/review">
                <button class="py-1 px-4 bg-primary rounded-3 border-0 fw-bold">
                  Tiếp tục
                </button>
              </a>

            </h6>
          </div>
        </div>
        <!-- Confirm end -->

      </div>


      <!-- Right Columm -->
      <div class=" bg-white rounded-4 p-0 border border-1 h-fit">
        <div class="d-flex flex-row p-3">
          <img src="./../../../assets/image/hotelvsg.svg" class="me-4 my-auto" alt="">
          <div class="my-auto">
            <h5 class="fw-bold" style="font-size: 15px;">Khách sạn Melia Hà Nội</h5>
            <h5 class="" style="font-size: 14px;">Melia Hanoi Hotel</h5>
          </div>
        </div>
        <div class="py-3 px-3" style="background-color: #f7f9fa;">
          <div class="date-in-out row">
            <div class="col">
              <p class="gray-text">Ngày nhận phòng:</p>
            </div>
            <div class="col">
              <p>Fri, 16 Jun 2023, Từ 14:00</p>
            </div>
          </div>
          <div class="date-in-out row">
            <div class="col">
              <p class="gray-text">Ngày trả phòng:</p>
            </div>
            <div class="col">
              <p>Sat, 17 Jun 2023, Trước 12:00</p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="my-auto">
            <h5 class="fw-bold" style="font-size: 15px;">(1x) Deluxe Room Only - Bar - 01 Occ</h5>
            <div class="">
              <div class="date-in-out row">
                <div class="col">
                  <p class="gray-text">khách/phòng:</p>
                </div>
                <div class="col">
                  <p>1 khách</p>
                </div>
              </div>
              <div class="date-in-out row">
                <div class="col">
                  <p class="gray-text">Kiểu giường:</p>
                </div>
                <div class="col">
                  <p>1 giường đôi hoặc 2 giường đơn</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col p-0">
              <img src="./../../../assets/image/ks1.jpg" class="my-auto rounded-3" style="width: 80px; height: 80px;"
                alt="">
            </div>
            <div class="col p-0">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí Wifi</p>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="room-rule-item d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
              <p class="my-auto">Không hoàn tiền</p>
            </div>
            <div class="room-rule-item d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/no-calulate.svg" alt="">
              <p class="my-auto">Không áp dụng đổi lịch</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
