<!-- Newsletter Start -->
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="row justify-content-center">
      <div class="col-lg-10 border rounded p-1">
          <div class="border rounded text-center p-1">
              <div class="bg-white rounded text-center p-5">
                  <h4 class="mb-4">Bạn cần chúng tôi <span class="text-primary text-uppercase">hỗ trợ?</span></h4>
                  <div class="mx-auto" style="max-width: 400px;">
                      <!-- <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email"> -->
                      <a href="support" type="button" class="btn btn-primary">Nhấn vào đây</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Newsletter Start -->
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
  <div class="container pb-5">
      <div class="row g-5">
          <div class="col-md-6 col-lg-4">
              <div class="bg-primary rounded p-4">
                  <a href="home"><h1 class="text-white text-uppercase mb-3">Nine Holter</h1></a>
                  <p class="text-white mb-0">
       <a class="text-dark fw-medium" href="">Nine Holter – Best Hotel In VN</a>, trang web đặt khách sạn uy tín của chuỗi khách sạn Nine Hotel.
    </p>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <h6 class="section-title text-start text-primary text-uppercase mb-4">Liên hệ</h6>
              <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Số 1 P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội 10000</p>
              <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>037123113</p>
              <p class="mb-2"><i class="fa fa-envelope me-3"></i>ninehotel09@gmail.com</p>
              <!-- <div class="d-flex pt-2">
                  <a class="btn btn-outline-light btn-social" href="https://freewebsitecode.com"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social" href="https://facebook.com/freewebsitecode"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social" href="https://youtube.com/freewebsitecode"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social" href="https://freewebsitecode.com"><i class="fab fa-linkedin-in"></i></a>
              </div> -->
          </div>
          <div class="col-lg-5 col-md-12">
              <div class="row gy-5 g-4">
                  <div class="col-md-6">
                      <h6 class="section-title text-start text-primary text-uppercase mb-4">Khách sạn</h6>
                      <a class="btn btn-link" href="">Về chúng tôi</a>
                      <a class="btn btn-link" href="">Liên hệ</a>
                      <a class="btn btn-link" href="">Chính sách bảo mật</a>
                      <a class="btn btn-link" href="">Điều khoản & Điều kiện</a>
                      <a class="btn btn-link" href="">Hỗ trợ</a>
                  </div>
                  <div class="col-md-6">
                      <h6 class="section-title text-start text-primary text-uppercase mb-4">Dịch vụ</h6>
                      <a class="btn btn-link" href="">Đồ ăn & Nhà hàng</a>
                      <a class="btn btn-link" href="">Spa & Thể hình</a>
                      <a class="btn btn-link" href="">Thể thao & Thể dục sau 10h</a>
                      <a class="btn btn-link" href="">Sự kiện & Tiệc</a>
                      <a class="btn btn-link" href="">GYM & Yoga</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="copyright">
          <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                  &copy; <a class="border-bottom" href="http://localhost:4300/home">Nine Hotel</a>, All Right Reserved.


              </div>
              <div class="col-md-6 text-center text-md-end">
                  <div class="footer-menu">
                      <a href="">Home</a>
                      <a href="">Cookies</a>
                      <a href="">Help</a>
                      <a href="">FQAs</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
</div>
<!-- Footer End -->
