<p-messages></p-messages>
<div class="card mid">
  <h3>{{'auth.login' | translate}}</h3><br>
  <form nz-form [formGroup]="formLogin" class="login-form" (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="login" placeholder="{{'auth.username' | translate}}" />
        </nz-input-group>
        <error-msg [profileForm]="formLogin" key="login" check="required" msg="Vui lòng không để trống."></error-msg>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="{{'auth.password' | translate}}" />
        </nz-input-group>
        <error-msg [profileForm]="formLogin" key="password" check="required" msg="Vui lòng không để trống."></error-msg>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" (click)="showForgotPassword()">{{'auth.forgot_pasword'  | translate}}</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{'auth.login' | translate}}</button>
    <a (click)="register()">{{'auth.or_register_now' | translate}}</a>
  </form>
</div>

<forgot-password
  *ngIf="displayForgotPassword"
  [displayForgotPassword]="displayForgotPassword"
  (closeModal)="emitEvent($event)"
></forgot-password>
