<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
  <div class="row gx-0">
      <div class="col-lg-3 bg-dark d-none d-lg-block">
          <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
              <h1 class="m-0 text-primary text-uppercase">Nine Hotel</h1>
          </a>
      </div>
      <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
              <a href="index.html" class="navbar-brand d-block d-lg-none">
                  <h1 class="m-0 text-primary text-uppercase">Nine Holter</h1>
              </a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav mr-auto py-0">
                      <a href="home" class="nav-item nav-link active">Trang chủ</a>
                      <a href="about" class="nav-item nav-link">Về chúng tôi</a>
                      <!-- <a href="hotels" class="nav-item nav-link">Hotels</a> -->
                      <a href="blogs" class="nav-item nav-link">Bài viết</a>
                      <!-- <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                          <div class="dropdown-menu rounded-0 m-0">

                              <a href="" class="dropdown-item">Our Team</a>
                              <a href="" class="dropdown-item">Testimonial</a>
                          </div>
                      </div> -->
                      <!-- <a href="contract" class="nav-item nav-link">Liên hệ</a> -->
                      <a href="filter-payment" class="nav-item nav-link">Tìm kiếm đơn đặt</a>
                  </div>
                  <a href="login" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" *ngIf="!user">Đăng nhập<i class="fa fa-arrow-right ms-3"></i></a>
                  <a href="{{ path }}" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" *ngIf="user">Hello, {{ user.user.name }}<i class="fa fa-arrow-right ms-3"></i></a>
              </div>
          </nav>
      </div>
  </div>
</div>
<!-- Header End -->
