<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../assets/image/carousel-1.jpg);">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Hotels</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item"><a href="hotel">Hotels</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="detail" class="text-primary">Khách sạn Grand Vista
              Hanoi</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Page Header End -->




<!-- Hotel Detail Start -->
<div class="container-xxl">
  <div class="container">
    <div class="col-lg wow fadeInUp" data-wow-delay="0.3s">

      <!-- Start Preview -->
      <div class="room-item shadow rounded-4 overflow-hidden pb-4 mb-3">
        <div class="row">
          <div class="col">
            <!-- Start Thông tin -->
            <div class="p-5">
              <h3><strong>Khách sạn Grand Vista Hanoi</strong></h3>
              <h5><strong>Grand Vista Hanoi</strong></h5>
              <div class="d-flex mb-2">
                <small class="bg-primary text-white rounded-5 py-1 px-3"><strong>Hotel</strong>
                </small>
                <div class="ps-2">
                  <small class="fa fa-star text-primary rating-star"></small>
                  <small class="fa fa-star text-primary rating-star"></small>
                  <small class="fa fa-star text-primary rating-star"></small>
                  <small class="fa fa-star text-primary rating-star"></small>
                  <small class="fa fa-star text-primary rating-star"></small>
                </div>
              </div>
              <div class="mb-2">
                <i class="fa fa-map-marker text-primary me-3"></i>
                <span>146 Giang Vo Str, Ba Dinh, Hanoi City., Giảng Võ, Quận Ba Đình, Hà Nội, Việt Nam, 100000</span>
              </div>
            </div>
            <!-- End Thông tin -->

            <!-- Start Giá - Đặt -->
            <div class="col p-4 mt-2 px-5">
              <div class="d-flex justify-content-between mb-3">
                <h6 class="mb-0"><strong>Giá phòng mỗi đêm từ</strong></h6>

              </div>
              <div class="d-flex mb-3">
                <span class="fs-3 text-primary"><strong>1.861.061 VND</strong></span>
              </div>
              <div class="d-flex justify-content-between">
                <a class="btn btn-md btn-dark rounded-3 bg-primary border-primary py-2 px-4" href="booking">Book Now</a>
              </div>
            </div>
            <!-- End Giá - Đặt -->
          </div>
          <section class="gallery col">
            <div class="gallery__item">
              <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
              <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt="" />
              <label for="img-1" class="gallery__thumb"><img src="https://picsum.photos/id/1015/150/100.jpg"
                  alt="" /></label>
            </div>
            <div class="gallery__item">
              <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
              <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt="" />
              <label for="img-2" class="gallery__thumb"><img src="https://picsum.photos/id/1039/150/100.jpg"
                  alt="" /></label>
            </div>
            <div class="gallery__item">
              <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
              <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt="" />
              <label for="img-3" class="gallery__thumb"><img src="https://picsum.photos/id/1057/150/100.jpg"
                  alt="" /></label>
            </div>
            <div class="gallery__item">
              <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
              <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt="" />
              <label for="img-4" class="gallery__thumb"><img src="https://picsum.photos/id/106/150/100.jpg"
                  alt="" /></label>
            </div>
          </section>
        </div>
        <hr>

        <!-- Comment start -->
        <div class="comment-section row">
          <div class="col m-auto px-5">
            <h5 style="font-weight: 700;">Xem đánh giá hữu ích từ khách hàng!</h5>
            <h6>Mời bạn xem đánh giá hữu ích từ khách hàng về cơ sở lưu trú này</h6>
          </div>
          <div class="col-5 m-auto px-5">
            <div class="comment-content mb-4">
              <a class="" style="text-decoration: none;" href="">
                <div class="w-100 h-75 bg-white p-4 rounded-4 border border-2">
                  <p style="color: black; font-weight: 500;">Khách sạn ở vị trí rất trung tâm, dễ di chuyển đến các điểm
                    tham quan, Rất sạch sẽ, từ không gian
                    công cộng đến phòng ở. Nhân viên thân thiện, nhiệt tình.</p>
                  <div>
                    <i class="fa fa-map-marker me-3"></i>
                    <span style="color: black; font-weight: 500;">Duong L.D</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="comment-interact d-flex flex-row justify-content-between">

              <button class="comment-section-prev rounded-circle " type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                <span class="visually-hidden">Previous</span>
              </button>
              <a href="" class="m-auto"><strong>Xem tất cả đánh giá</strong></a>
              <button class="comment-section-next rounded-circle " type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
              </button>

            </div>
          </div>
          <div class="col m-auto"></div>
        </div>
        <!-- Comment end -->

        <!-- Start Menu Tiện Ích -->
        <div class="hotel-amenities mt-5 px-5">
          <h3>Tiện nghi khách sạn</h3>
          <div class="hotel-amenities-list d-flex flex-row">
            <div class="hotel-amenities-item d-flex flex-column text-center m-md-4">
              <img style="width: 55px;" class="mx-auto" src="../../../assets/image/pool.png" alt="">
              <span style="font-size: 16px; font-weight: bold;">Bath</span>
            </div>
            <div class="hotel-amenities-item d-flex flex-column text-center m-md-4">
              <img style="width: 55px;" class="mx-auto" src="../../../assets/image/wifi.png" alt="">
              <span style="font-size: 16px; font-weight: bold;">Wifi</span>
            </div>
            <div class="hotel-amenities-item d-flex flex-column text-center m-md-4">
              <img style="width: 55px;" class="mx-auto" src="../../../assets/image/restaurant.png" alt="">
              <span style="font-size: 16px; font-weight: bold;">Restaurant</span>
            </div>
            <div class="hotel-amenities-item d-flex flex-column text-center m-md-4">
              <img style="width: 55px;" class="mx-auto" src="../../../assets/image/stair.png" alt="">
              <span style="font-size: 16px; font-weight: bold;">Stair</span>
            </div>
          </div>
          <div class="text-center mt-2">
            <a href="" class="fs-6"><strong>Xem tất cả các tiện ích</strong></a>
          </div>
        </div>
        <!-- End Menu Tiện Ích -->
      </div>
      <!-- End Preview -->


      <!-- Start Detail -->
      <div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5 ">

        <!-- Start Thông tin -->
        <h4><strong>Thông tin khu vực</strong></h4>
        <div class="mb-2">
          <i class="fa fa-map-marker text-primary me-3"></i>
          <span>146 Giang Vo Str, Ba Dinh, Hanoi City., Giảng Võ, Quận Ba Đình, Hà Nội, Việt Nam, 100000</span>
        </div>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8639811788466!2d105.74421217512949!3d21.03812778061352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1686471336760!5m2!1sen!2s"
            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!--  Location near -->
        <div class="map row mt-5 w-100">

          <!-- Left -->
          <div class="col-5">
            <h5 style="font-weight: bold;">Địa điểm lân cận</h5>
            <div class="d-flex flex-row justify-content-between py-2">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360782133-3dfe83e9b5f6686958161374ac9d86af.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360782133-3dfe83e9b5f6686958161374ac9d86af.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360782133-3dfe83e9b5f6686958161374ac9d86af.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360782133-3dfe83e9b5f6686958161374ac9d86af.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Circle K Trần Hưng Đạo</span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Mua sắm & Quà lưu niệm</span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">214 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360743908-da1254fde1f0767c7ba2f4b9e972f4c2.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360743908-da1254fde1f0767c7ba2f4b9e972f4c2.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360743908-da1254fde1f0767c7ba2f4b9e972f4c2.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360743908-da1254fde1f0767c7ba2f4b9e972f4c2.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Bệnh Viện Phụ Sản Trung Ương Phòng Khám </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Dịch vụ công
                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">587 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360706660-18b7d8816fe7aa79adf37fc85f57999c.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360706660-18b7d8816fe7aa79adf37fc85f57999c.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360706660-18b7d8816fe7aa79adf37fc85f57999c.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360706660-18b7d8816fe7aa79adf37fc85f57999c.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Trung tâm Hội chợ Triển lãm quốc tế I.C.E Hà Nội
                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Doanh nghiệp

                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">689 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360810981-9c87e83b3b5aa0807e3a823fbb9a107b.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360810981-9c87e83b3b5aa0807e3a823fbb9a107b.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360810981-9c87e83b3b5aa0807e3a823fbb9a107b.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360810981-9c87e83b3b5aa0807e3a823fbb9a107b.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Hanoi Railway Station
                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Điểm nút giao thông

                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">771 m</span>
            </div>
          </div>

          <!-- Mid -->
          <div class="col-2">
            <div class="m-auto h-auto" style="width: 1px; background-color: #cdd0d1;">
            </div>
          </div>

          <!-- Right -->
          <div class="col-5">
            <h5 style="font-weight: bold;">Phổ biến trong khu vực</h5>
            <div class="d-flex flex-row justify-content-between py-2 ">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Nhà thờ Lớn Hà Nội
                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Nơi linh thiêng & Tôn giáo
                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">515 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2 ">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Thong Nhat Park

                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Công viên & Sở thú

                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">892 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2 ">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360805683-5899121c8828f597fdd407909d2d3d73.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Hồ Hoàn Kiếm
                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Thiên nhiên
                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">636 m</span>
            </div>
            <div class="d-flex flex-row justify-content-between py-2 ">
              <div class="d-flex flex-row">
                <img importance="low" loading="lazy"
                  src="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360702518-27b5dfb9349b7a8f2062335314da5ef6.png?tr=h-24,q-75,w-24"
                  srcset="https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360702518-27b5dfb9349b7a8f2062335314da5ef6.png?tr=h-24,q-75,w-24 1x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360702518-27b5dfb9349b7a8f2062335314da5ef6.png?tr=dpr-2,h-24,q-75,w-24 2x, https://ik.imagekit.io/tvlk/image/imageResource/2019/04/04/1554360702518-27b5dfb9349b7a8f2062335314da5ef6.png?tr=dpr-3,h-24,q-75,w-24 3x"
                  decoding="async" width="24" height="24" style="object-fit: fill; object-position: 50% 50%;">
                <div style="margin-left: 12px;">
                  <span style="font-weight: 700; font-size: 14px;">Sân bay quốc tế Nội Bài (HAN)

                  </span>
                  <br>
                  <span style="font-weight: 500; font-size: 14px; color: #687176;">Điểm nút giao thông

                  </span>
                </div>
              </div>
              <span style="font-weight: 500; font-size: 14px;">22.21 km</span>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <span style="color: #687176; font-weight: 500;">Khoảng cách hiển thị dựa trên đường chim bay. Khoảng cách di
            chuyển thực tế có thể khác. </span>
        </div>
        <!-- End Thông tin -->
        <hr>


      </div>
      <!-- Start Detail -->

      <!-- Book room start -->
      <div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">
        <h3>Những phòng còn trống tại Khách sạn Melia Hà Nội</h3>
        <!-- Filter start -->
        <div class="container bg-white rounded-3 px-2 py-1">
          <div class="row">
            <div class="col-10 filter-checkbox">
              <h5>Tìm kiếm nhanh hơn bằng cách chọn những tiện nghi bạn cần</h5>
              <div class="row">
                <div class="col">
                  <!-- <p-checkbox formControlName="" value="" inputId=""></p-checkbox> -->
                  <p-checkbox [binary]="true" inputId="room"></p-checkbox>
                  <label style="margin-left: 5px; font-weight: 500;" for="room">Miễn phí hủy phòng</label>
                </div>
                <div class="col">
                  <p-checkbox [binary]="true" inputId="breakfast"></p-checkbox>
                  <label style="margin-left: 5px; font-weight: 500;" for="breakfast">Miễn phí bữa sáng</label>
                </div>
              </div>
            </div>
            <div class="col">
              <p-dropdown [options]="types" optionLabel="name">
              </p-dropdown>
            </div>
          </div>
          <hr>
          <div>
            <p class="highlight-text">Kết quả cho <strong>1</strong> phòng, <strong>1</strong> khách, ở từ <strong>11
                Jun 2023</strong> trong <strong>2</strong> đêm. Có <strong>24</strong> lựa chọn phòng trống.</p>
          </div>
        </div>
        <!-- Filter end -->

      </div>
      <!-- Book room end -->

      <!-- Start Policy -->
      <div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">

        <!-- Start Thông tin -->
        <!-- 1 -->
        <div class="d-flex flex-row justify-content-between mb-5">
          <div>
            <h5><strong>Chính Sách Lưu Trú</strong></h5>
          </div>
          <div class="hotel-description">
            <div class=" d-flex flex-row mb-2">
              <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/clock.png" alt="">
              <div>
                <h6><strong>Thời gian nhận phòng/trả phòng</strong></h6>
                <h6>Giờ nhận phòng: Từ 14:00 Giờ trả phòng: Trước 12:00</h6>
              </div>
            </div>
            <hr>
            <div class="d-flex flex-row mb-2">
              <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/notes.png" alt="">
              <div>
                <h6><strong>Hướng Dẫn Nhận Phòng Chung</strong></h6>
                <h6>Please note that your children might be charged when check-in at the hotel. Please call the hotel
                  before your check-in date for further information. Vui long luu y, tre em co the bi thu them phi khi
                  nhan phong tai khach san. Vui long lien he khach san truoc khi nhan phong de biet them thong tin chi
                  tiet.</h6>
              </div>
            </div>
            <hr>
            <div class="d-flex flex-row mb-2">
              <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/notesnopen.png"
                alt="">
              <div>
                <h6><strong>Chính Sách Bổ Sung</strong></h6>
                <h6>Please note that your children might be charged when check-in at the hotel. Please call the hotel
                  before your check-in date for further information. Vui long luu y, tre em co the bi thu them phi khi
                  nhan phong tai khach san. Vui long lien he khach san truoc khi nhan phong de biet them thong tin chi
                  tiet.</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- 2 -->
        <div class="d-flex flex-row justify-content-between">
          <div>
            <h5><strong>Mô tả khách sạn</strong></h5>
          </div>
          <div class="hotel-description">
            <div class="d-flex flex-row mb-2">
              <div>
                <h6><strong>Vị trí</strong></h6>
                <p class="fs-6">
                  Lưu trú tại Melia Hanoi Hotel là một lựa chọn đúng đắn khi quý khách đến thăm Trần Hưng Đạo.
                </p>
                <p class="fs-6">
                  khách sạn nằm cách Hanoi Railway Station 0,77 km.
                </p>
                <p class="fs-6">
                  khách sạn này rất dễ tìm bởi vị trí đắc địa, nằm gần với nhiều tiện ích công cộng.
                </p>
              </div>
            </div>
            <hr>
            <div class="d-flex flex-row mb-2">
              <div>
                <h6><strong>Thông tin về Melia Hanoi Hotel</strong></h6>
                <p class="fs-6">
                  Dù quý khách muốn tổ chức một sự kiện hay các dịp kỷ niệm đặc biệt khác, Melia Hanoi Hotel là lựa chọn
                  tuyệt vời cho quý khách với phòng chức năng rộng lớn, được trang bị đầy đủ để sẵn sàng đáp ứng mọi yêu
                  cầu.
                </p>
              </div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div style="width: 300px;">
                <h6><strong>Tiện nghi khách sạn</strong></h6>
              </div>
              <div>
                <h6>Máy lạnh, Nhà hàng, Hồ bơi, Lễ tân 24h, Chỗ đậu xe, WiFi, Thang máy</h6>
              </div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div style="width: 300px;">
                <h6><strong>Giờ hoạt động </strong></h6>
              </div>
              <div>
                <h6>Từ 14:00 - Trước 12:00</h6>
              </div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div style="width: 300px;">
                <h6><strong>Khoảng cách đến khu trung tâm </strong></h6>
              </div>
              <div>
                <h6>513 m</h6>
              </div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div style="width: 300px;">
                <h6><strong>Các địa điểm nổi tiếng </strong></h6>
              </div>
              <div>
                <h6>Nhà thờ Lớn Hà Nội, Hồ Hoàn Kiếm, <br>Thong Nhat Park, Sân bay quốc tế Nội Bài (HAN), Chùa Hương
                </h6>
              </div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div style="width: 300px;">
                <h6><strong>Có phục vụ bữa sáng không? </strong></h6>
              </div>
              <div>
                <h6>Có</h6>
              </div>
            </div>
          </div>
        </div>



      </div>
      <!-- End Policy -->

      <!-- Start Hotel Amenities -->
      <div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">
        <h5><strong>Tiện nghi khách sạn</strong></h5>
        <div class="row mt-5">
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/cook.png" alt="">
              <h6><strong>Ẩm thực</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Quầy bar</div>
              </li>
              <li class="amenities-list-item">
                <div>Câu lạc bộ đêm</div>
              </li>
              <li class="amenities-list-item">
                <div>Quầy bar bên hồ bơi</div>
              </li>
              <li class="amenities-list-item">
                <div>Quầy phục vụ đồ ăn nhẹ</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng (thu phí)</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà hàng có máy lạnh</div>
              </li>
              <li class="amenities-list-item">
                <div>Tiệm cà phê</div>
              </li>
              <li class="amenities-list-item">
                <div>Quầy bar</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa tối với thực đơn chọn sẵn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng và bữa tối</div>
              </li>
              <li class="amenities-list-item">
                <div>Đồ ăn nhẹ</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng và bữa trưa</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng cho người dậy sớm</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng phục vụ món nóng</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng phục vụ tại bàn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng muộn</div>
              </li>
              <li class="amenities-list-item">
                <div>Phục vụ món chay</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng món tự chọn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng với thực đơn gọi món</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa sáng kiểu Âu</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa trưa món tự chọn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa trưa với thực đơn gọi món</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa trưa với thực đơn chọn sẵn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa tối món tự chọn</div>
              </li>
              <li class="amenities-list-item">
                <div>Bữa tối với thực đơn gọi món</div>
              </li>
              <li class="amenities-list-item">
                <div>Tiệc liên hoan</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/pack.png" alt="">
              <h6><strong>Dịch vụ khách sạn</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Dịch vụ concierge/hỗ trợ khách</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ giặt ủi</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ hỗ trợ đặt Tour</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ lưu trữ/bảo quản hành lý</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhân viên gác cổng</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhật báo tại sảnh</div>
              </li>
              <li class="amenities-list-item">
                <div>Đội ngũ nhân viên đa ngôn ngữ</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ tiệc cưới</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ thu đổi ngoại tệ</div>
              </li>
              <li class="amenities-list-item">
                <div>Người gác cửa</div>
              </li>
              <li class="amenities-list-item">
                <div>Điện thoại di động</div>
              </li>
              <li class="amenities-list-item">
                <div>Bảo vệ 24 giờ</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhân viên xách hành lý</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhật báo</div>
              </li>
              <li class="amenities-list-item">
                <div>Lễ tân 24h</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/delive.png" alt="">
              <h6><strong>Các hoạt động</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Mát-xa</div>
              </li>
              <li class="amenities-list-item">
                <div>Hồ nước nóng Jacuzzi</div>
              </li>
              <li class="amenities-list-item">
                <div>Trung tâm thể dục thể hình</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng xông hơi</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ spa</div>
              </li>
              <li class="amenities-list-item">
                <div>Hồ bơi ngoài trời</div>
              </li>
              <li class="amenities-list-item">
                <div>Vườn hoa</div>
              </li>
              <li class="amenities-list-item">
                <div>Xông hơi ướt</div>
              </li>
              <li class="amenities-list-item">
                <div>Bồn tắm nước nóng</div>
              </li>
              <li class="amenities-list-item">
                <div>Sòng bạc</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng xem TV</div>
              </li>
              <li class="amenities-list-item">
                <div>Khu vui chơi trẻ em</div>
              </li>
              <li class="amenities-list-item">
                <div>Chương trình giải trí cho trẻ em</div>
              </li>
              <li class="amenities-list-item">
                <div>Xông hơi khô/ướt</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t1.png" alt="">
              <h6><strong>Tiện nghi công cộng</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Dịch vụ phòng 24 giờ</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ dọn phòng</div>
              </li>
              <li class="amenities-list-item">
                <div>Bãi đậu xe</div>
              </li>
              <li class="amenities-list-item">
                <div>Két an toàn</div>
              </li>
              <li class="amenities-list-item">
                <div>WiFi tại khu vực chung</div>
              </li>
              <li class="amenities-list-item">
                <div>Tiệm cà phê</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà hàng</div>
              </li>
              <li class="amenities-list-item">
                <div>Cà phê/trà tại sảnh</div>
              </li>
              <li class="amenities-list-item">
                <div>Thang máy</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà hàng phục vụ bữa sáng</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà hàng phục vụ bữa trưa</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà hàng phục vụ bữa tối</div>
              </li>
              <li class="amenities-list-item">
                <div>Trả phòng muộn</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhận phòng sớm</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t2.png" alt="">
              <h6><strong>Dịch vụ khách sạn</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Dịch vụ concierge/hỗ trợ khách</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ giặt ủi</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ hỗ trợ đặt Tour</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ lưu trữ/bảo quản hành lý</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhân viên gác cổng</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhật báo tại sảnh</div>
              </li>
              <li class="amenities-list-item">
                <div>Đội ngũ nhân viên đa ngôn ngữ</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ tiệc cưới</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ thu đổi ngoại tệ</div>
              </li>
              <li class="amenities-list-item">
                <div>Người gác cửa</div>
              </li>
              <li class="amenities-list-item">
                <div>Điện thoại di động</div>
              </li>
              <li class="amenities-list-item">
                <div>Bảo vệ 24 giờ</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhân viên xách hành lý</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhật báo</div>
              </li>
              <li class="amenities-list-item">
                <div>Lễ tân 24h</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t3.png" alt="">
              <h6><strong>Các hoạt động</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Mát-xa</div>
              </li>
              <li class="amenities-list-item">
                <div>Hồ nước nóng Jacuzzi</div>
              </li>
              <li class="amenities-list-item">
                <div>Trung tâm thể dục thể hình</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng xông hơi</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ spa</div>
              </li>
              <li class="amenities-list-item">
                <div>Hồ bơi ngoài trời</div>
              </li>
              <li class="amenities-list-item">
                <div>Vườn hoa</div>
              </li>
              <li class="amenities-list-item">
                <div>Xông hơi ướt</div>
              </li>
              <li class="amenities-list-item">
                <div>Bồn tắm nước nóng</div>
              </li>
              <li class="amenities-list-item">
                <div>Sòng bạc</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng xem TV</div>
              </li>
              <li class="amenities-list-item">
                <div>Khu vui chơi trẻ em</div>
              </li>
              <li class="amenities-list-item">
                <div>Chương trình giải trí cho trẻ em</div>
              </li>
              <li class="amenities-list-item">
                <div>Xông hơi khô/ướt</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t4.png" alt="">
              <h6><strong>Vận chuyển</strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Đưa đón sân bay</div>
              </li>
              <li class="amenities-list-item">
                <div>Bãi đậu xe có người phục vụ</div>
              </li>
              <li class="amenities-list-item">
                <div>Đưa đón trong khu vực</div>
              </li>
              <li class="amenities-list-item">
                <div>Giữ xe đạp</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ cho thuê xe đạp</div>
              </li>
              <li class="amenities-list-item">
                <div>Nhà chứa xe</div>
              </li>
              <li class="amenities-list-item">
                <div>Cho thuê xe hơi</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t5.png" alt="">
              <h6><strong>Tiện nghi văn phòng
                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Dịch vụ văn phòng</div>
              </li>
              <li class="amenities-list-item">
                <div>Tiện nghi hội họp</div>
              </li>
              <li class="amenities-list-item">
                <div>Máy tính</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng hội nghị</div>
              </li>
              <li class="amenities-list-item">
                <div>Máy chiếu</div>
              </li>
              <li class="amenities-list-item">
                <div>Máy photocopy</div>
              </li>
              <li class="amenities-list-item">
                <div>Các tiện nghi văn phòng</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t6.png" alt="">
              <h6><strong>Hỗ trợ người khuyết tật
                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Phòng tắm phù hợp cho người khuyết tật</div>
              </li>
              <li class="amenities-list-item">
                <div>Trang bị phòng phù hợp với người khuyết tật</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng tắm phù hợp với xe lăn</div>
              </li>
              <li class="amenities-list-item">
                <div>Phòng được trang bị phù hợp cho người khuyết tật
                </div>
              </li>
              <li class="amenities-list-item">
                <div>Phù hợp cho xe lăn</div>
              </li>
              <li class="amenities-list-item">
                <div>Thuận tiện cho người khuyết tật</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t7.png" alt="">
              <h6><strong>Các tiện ích lân cận
                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Cửa hàng</div>
              </li>
              <li class="amenities-list-item">
                <div>Máy ATM/Ngân hàng</div>
              </li>
              <li class="amenities-list-item">
                <div>Hiệu làm tóc</div>
              </li>
              <li class="amenities-list-item">
                <div>Cửa hàng thực phẩm</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t8.png" alt="">
              <h6><strong>Tiện nghi phù hợp với gia đình
                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Hồ bơi trẻ em</div>
              </li>
              <li class="amenities-list-item">
                <div>Câu lạc bộ thiếu nhi</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t9.png" alt="">
              <h6><strong>Thể thao & Giải trí
                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Trung tâm thể dục thể hình</div>
              </li>
              <li class="amenities-list-item">
                <div>Sân thể thao</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t10.png" alt="">
              <h6><strong>Trẻ em và Thú cưng

                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Giữ trẻ</div>
              </li>
              <li class="amenities-list-item">
                <div>Dịch vụ trông trẻ có người giám hộ</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t11.png" alt="">
              <h6><strong>Kết nối mạng

                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Mạng Internet cục bộ</div>
              </li>
              <li class="amenities-list-item">
                <div>Điểm truy cập Internet</div>
              </li>
            </ul>
          </div>
          <div class="col">
            <div class="d-flex flex-row">
              <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t12.png" alt="">
              <h6><strong>Đưa đón

                </strong></h6>
            </div>
            <ul style="padding-left:0">
              <li class="amenities-list-item">
                <div>Đưa đón sân bay</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Hotel Amenities -->
    </div>
  </div>
</div>
<!-- Hotel Detail End -->
