@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


$primary: #FEA116;
$light: #F1F8FF;
$dark: #0F172B;

$font-family-base: 'Heebo', sans-serif;

$headings-font-family: 'Montserrat', sans-serif;

$body-bg: $light;

$body-color: #666565;

$headings-color: $dark;

$headings-font-weight: 700;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-radius: 2px;

$link-decoration: none;

$enable-negative-margins: true;

@import "./scss/bootstrap/scss/bootstrap";

input{
  &.ng-invalid{
    &.ng-touched{
      border: solid 1px red !important;
    }
  }
}
.errMsg{
  color: red !important;
}

:host ::ng-deep .ant-modal-body{
  padding: 50px !important;
}



