<!-- Book room start -->
<div id="booking-room" class="shadow rounded-4 overflow-hidden mb-3 p-5">
  <h3>Những phòng còn trống tại Khách sạn Melia Hà Nội</h3>
  <!-- Filter start -->
  <div class="container bg-white rounded-3 px-2 py-1 mb-5">
    <div class="row">
      <div class="col-10 filter-checkbox">
        <h5>Tìm kiếm nhanh hơn bằng cách chọn những tiện nghi bạn cần</h5>
        <div class="row">
          <div class="col">
            <!-- <p-checkbox formControlName="" value="" inputId=""></p-checkbox> -->
            <p-checkbox [binary]="true" inputId="room"></p-checkbox>
            <label style="margin-left: 5px; font-weight: 500;" for="room">Miễn phí hủy phòng</label>
          </div>
          <div class="col">
            <p-checkbox [binary]="true" inputId="breakfast"></p-checkbox>
            <label style="margin-left: 5px; font-weight: 500;" for="breakfast">Miễn phí bữa sáng</label>
          </div>
        </div>
      </div>
      <div class="col">
        <p-dropdown [options]="types" optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-between">
      <p class="highlight-text my-auto">Kết quả cho <strong>1</strong> phòng, <strong>1</strong> khách, ở từ <strong>11
          Jun 2023</strong> trong <strong>2</strong> đêm. Có <strong>24</strong> lựa chọn phòng trống.</p>
      <button class="highlight-button d-flex flex-row">
        <i class="fa fa-search me-3 my-auto" aria-hidden="true"></i>
        <p class="my-auto">Thay đổi tìm kiếm</p>
      </button>
    </div>
  </div>
  <!-- Filter end -->

  <!-- Room start -->
  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Cao cấp</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15" stroke="#0194F3"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6" stroke="#03121A"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button name="btn-view-detail" class="btn-view-detail" label="" (click)="showDialog()">
          <label for="btn-view-detail">Xem chi tiết phòng</label>
        </button>
        <!-- <div>
          <p-toast></p-toast>
          <p-button class="btn-view-detail" (click)="show()" icon="pi pi-info-circle" label="Xem chi tiết phòng"></p-button>
        </div> -->
        <!-- <p-button  (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
        <p-dialog header="Phòng cao cấp" [(visible)]="visible" [modal]="true" [style]="{ width: '75vw' }"
          [draggable]="false" [resizable]="false">
          <div class="row">
            <div class="col-6">
              <p-galleria [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '100%' }">
                <ng-template pTemplate="item" let-item>
                  <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                  <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                  </div>
                </ng-template>
              </p-galleria>
            </div>

            <div class="col">
              <div class="p-2">
                <div>
                  <p class="fw-bold m-0">Thông tin phòng</p>
                  <div class="d-flex ">
                    <svg class="my-auto me-2" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg" data-id="IcHotelRoomMeasure">
                      <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15"
                        stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6"
                        stroke="#03121A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="">40.0 m2</span>
                  </div>
                  <div class="d-flex ">
                    <svg class="my-auto me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      viewBox="0 0 24 24" data-id="IcSystemGuestPassenger">
                      <g fill="none" fill-rule="evenodd">
                        <rect width="24" height="24"></rect>
                        <path stroke="#03121A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2,21 L13,21 L13,19.5 C13,16.4624339 10.5375661,14 7.5,14 L7.5,14 C4.46243388,14 2,16.4624339 2,19.5 L2,21 Z M7,4 L8,4 C9.65685425,4 11,5.34314575 11,7 L11,8.5 C11,10.4329966 9.43299662,12 7.5,12 L7.5,12 C5.56700338,12 4,10.4329966 4,8.5 L4,7 C4,5.34314575 5.34314575,4 7,4 Z">
                        </path>
                        <path stroke="#0194F3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M16,19 L22,19 L22,18 C22,14.4624339 19.5581561,12 17,12 C15.6264236,12 14.7600111,12.2294943 14,13 M16,2 L16.3162278,2.9486833 C16.7245699,4.17370972 17.8709864,5 19.1622777,5 L21,5">
                        </path>
                        <path stroke="#0194F3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M16,2 L17,2 C18.6568542,2 20,3.34314575 20,5 L20,6.5 C20,8.43299662 18.4329966,10 16.5,10 L16.5,10 C14.5670034,10 13,8.43299662 13,6.5 L13,5 C13,3.34314575 14.3431458,2 16,2 Z">
                        </path>
                      </g>
                    </svg>
                    <span class="">1 khách</span>
                  </div>
                </div>
                <hr class="my-2">

                <div>
                  <p class="fw-bold m-0">Tính năng phòng bạn thích</p>
                  <div class="d-flex ">
                    <img src="./../../../../assets/image/colder.png" class="my-auto me-2"
                      style="width: 16px; height: 16px;" alt="">
                    <span class="">Máy lạnh</span>
                  </div>
                </div>
                <hr class="my-2">

                <div>
                  <p class="fw-bold m-0">Tiện nghi phòng</p>
                  <div class="row">
                    <div class="col">
                      <ul style="padding-left:0">
                        <li class="amenities-list-item">
                          <span>Máy lạnh</span>
                        </li>
                        <li class="amenities-list-item">
                          <span>TV</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul style="padding-left:0">
                        <li class="amenities-list-item">
                          <span>Quầy bar mini</span>
                        </li>
                        <li class="amenities-list-item">
                          <span>Bàn làm việc</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <hr class="my-2">

                <div>
                  <p class="fw-bold m-0">Tiện nghi phòng tắm</p>
                  <div class="row">
                    <div class="col">
                      <ul style="padding-left:0">
                        <li class="amenities-list-item">
                          <span>Vòi tắm đứng</span>
                        </li>
                        <li class="amenities-list-item">
                          <span>Máy sấy tóc</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul style="padding-left:0">
                        <li class="amenities-list-item">
                          <span>Bộ vệ sinh cá nhân</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <hr class="my-2">
              </div>
              <div>
                <p class="fw-bold m-0">Khởi điểm từ:</p>
                <p class="m-0"><span class="fs-4 fw-bold text-primary">1.500.000  VND</span> / phòng / đêm </p>
              </div>
            </div>
          </div>
        </p-dialog>
      </div>

      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>

  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Siêu Cao Cấp</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15" stroke="#0194F3"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6" stroke="#03121A"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button class="btn-view-detail">
          <p class="my-auto">Xem chi tiết phòng</p>
        </button>
      </div>


      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>

  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Thường Dân</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15" stroke="#0194F3"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6" stroke="#03121A"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button class="btn-view-detail">
          <p class="my-auto">Xem chi tiết phòng</p>
        </button>
      </div>


      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555 VND</del></p>
              <h5 class="text-primary">4.689.416 VND</h5>
              <p>/ phòng / đêm</p>
              <a href="/booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>
  <!-- Room end -->


</div>
<!-- Book room end -->
