<!-- Book room start -->
<div id="booking-room" class="shadow rounded-4 overflow-hidden mb-3 p-5">
  <h3>Những phòng còn trống tại Khách sạn Melia Hà Nội</h3>
  <!-- Filter start -->
  <div class="container bg-white rounded-3 px-2 py-1 mb-5">
    <div class="row">
      <div class="col-10 filter-checkbox">
        <h5>Tìm kiếm nhanh hơn bằng cách chọn những tiện nghi bạn cần</h5>
        <div class="row">
          <div class="col">
            <!-- <p-checkbox formControlName="" value="" inputId=""></p-checkbox> -->
            <p-checkbox [binary]="true" inputId="room"></p-checkbox>
            <label style="margin-left: 5px; font-weight: 500;" for="room">Miễn phí hủy phòng</label>
          </div>
          <div class="col">
            <p-checkbox [binary]="true" inputId="breakfast"></p-checkbox>
            <label style="margin-left: 5px; font-weight: 500;" for="breakfast">Miễn phí bữa sáng</label>
          </div>
        </div>
      </div>
      <div class="col">
        <p-dropdown [options]="types" optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-between">
      <p class="highlight-text my-auto">Kết quả cho <strong>1</strong> phòng, <strong>1</strong> khách, ở từ <strong>11
          Jun 2023</strong> trong <strong>2</strong> đêm. Có <strong>24</strong> lựa chọn phòng trống.</p>
      <button class="highlight-button d-flex flex-row">
        <i class="fa fa-search me-3 my-auto" aria-hidden="true"></i>
        <p class="my-auto">Thay đổi tìm kiếm</p>
      </button>
    </div>
  </div>
  <!-- Filter end -->

  <!-- Room start -->
  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Cao cấp</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15"
              stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6"
              stroke="#03121A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button class="btn-view-detail">
          <p class="my-auto">Xem chi tiết phòng</p>
        </button>
      </div>

      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>

  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Siêu Cao Cấp</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15"
              stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6"
              stroke="#03121A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button class="btn-view-detail">
          <p class="my-auto">Xem chi tiết phòng</p>
        </button>
      </div>


      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>

  <div class="room-section rounded-3 px-4 py-2">
    <h5><strong>Thường Dân</strong></h5>
    <div class="row">
      <div class="room-preview col-4 d-flex flex-column bg-white p-3 me-3">
        <img class="room-img" src="../../../assets/image/ks1.jpg" alt="">
        <div class="p-2">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            data-id="IcHotelRoomMeasure">
            <path d="M12 21H7L21 7V21H18M12 21V20M12 21H15M15 21V20M15 21H18M18 21V20M15 17H17V15"
              stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8 8L9 9M8 8L5 11M8 8L11 5M5 11L6 12M5 11L2 14L5 17L17 5L14 2L11 5M11 5L12 6"
              stroke="#03121A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span class="ms-2">32.0 m2</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Bồn Tắm</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Báo Miễn Phí</span>
        </div>
        <div class="mb-2">
          <span class="room-services">Máy Lạnh</span>
        </div>
        <button class="btn-view-detail">
          <p class="my-auto">Xem chi tiết phòng</p>
        </button>
      </div>


      <p-scrollPanel class="room-detail col d-flex flex-column overflow-auto" styleClass="custombar2">
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
        <div class="room-detail-item p-3">
          <h6><strong>Deluxe Room Only - Prepayment Short - 01 Occ</strong></h6>
          <div class="room-stuff d-flex flex-row">
            <div class="d-flex flex-row me-4">
              <img class="my-auto me-3" src="../../../../assets/image/bed.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Giường Đôi Hoặc 2 Giường Đơn</p>
            </div>
            <div class="d-flex flex-row">
              <img class="my-auto me-3" src="../../../../assets/image/guest.svg" alt="">
              <p class="my-auto" style="font-weight: 500;">1 Khách</p>
            </div>
          </div>
          <hr>
          <div class="room-content d-flex flex-row justify-content-between">
            <!-- Yes -->
            <div class="room-convenient d-flex flex-column">
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bữa sáng</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/wifi.svg" alt="">
                <p class="my-auto">Miễn phí wifi</p>
              </div>
              <div class="room-convenient-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/cook.svg" alt="">
                <p class="my-auto">Miễn phí bú Thuốc</p>
              </div>
            </div>
            <!-- No -->
            <div class="room-rule d-flex flex-column me-4">
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không hoàn tiền</p>
              </div>
              <div class="room-rule-item d-flex flex-row me-4">
                <img class="my-auto me-3" src="../../../../assets/image/no-refund.svg" alt="">
                <p class="my-auto">Không đổi lịch</p>
              </div>
            </div>
            <!-- Booking -->
            <div class="room-price d-flex flex-column me-4">
              <p><del>6.252.555  VND</del></p>
              <h5 class="text-primary">4.689.416  VND</h5>
              <p>/  phòng /  đêm</p>
              <a href="booking" class="bg-primary text-white rounded-3 px-2 py-1 border border-0 fw-bold text-center">
                Đặt ngay
              </a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <hr>

  </div>
  <!-- Room end -->


</div>
<!-- Book room end -->
