<div class="d-flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
  <div class="text-center lg:text-right">
    <div class="mt-6 mb-3 font-bold text-6xl text-900">Are you lost?</div>
    <p class="text-700 text-3xl mt-0 mb-6">Sorry, we couldn't find the page.</p>
    <a href="/"><button pbutton="" type="button"
      label="Go back to home page" class="p-element p-button-outlined p-button p-component"><span
        class="p-button-label">Go back to home page</span>
    </button></a>
  </div>
  <div><img src="./../../assets/image/404-rocket.png" alt="Image" class="w-full md:w-28rem"></div>
</div>
