<!-- Room Start -->
<div class="container-xxl py-5 " style="background-color: #f7f9fa;">
  <div class="container">
    <div class="row mt-5">
      <!-- Left -->
      <div class="col-lg-3">
        <!-- Sort start -->
        <div class="rounded-3 border border-3 overflow-hidden p-2 mb-3 bg-white">
          <div>
            <h5 class="fw-bold">Sắp xếp kết quả</h5>
            <h6>Sắp xếp kết quả theo lựa chọn</h6>
          </div>
          <hr>
          <div>
            <div class="">
              <div class="d-flex flex-column gap-3">
                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="highestPrice" [(ngModel)]="sortRadio"
                    inputId="sortRadio1"></p-radioButton>
                  <label for="sortRadio1" class="ml-2 fw-medium">Giá cao nhất</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="lowestPrice" [(ngModel)]="sortRadio"
                    inputId="sortRadio2"></p-radioButton>
                  <label for="sortRadio2" class="ml-2 fw-medium">Giá thấp nhất</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="pointEvaluation" [(ngModel)]="sortRadio"
                    inputId="sortRadio3"></p-radioButton>
                  <label for="sortRadio3" class="ml-2 fw-medium">Điểm đánh giá</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="popularity" [(ngModel)]="sortRadio"
                    inputId="sortRadio4"></p-radioButton>
                  <label for="sortRadio4" class="ml-2 fw-medium">Độ phổ biến</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sort start -->

        <!-- Start Khu vực -->
        <div class="rounded-3 border border-3 overflow-hidden p-2 mb-3 bg-white">
          <div>
            <h5 class="fw-bold">Khu vực</h5>
            <h6>Hiển thị khách sạn theo khu vực</h6>
          </div>
          <hr>
          <div>
            <div class="">
              <div class="d-flex flex-column gap-3">
                <div *ngFor="let region of regions">
                  <p-radioButton name="regionOption" [value]="region.id" [(ngModel)]="selectedRegion"
                    (onClick)="onRegionSelected(region.id)"></p-radioButton>
                  <label>{{ region.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Khu vực -->

        <!-- Filter start -->
        <!-- Filter end -->
      </div>

      <!-- Right -->
      <div class="col-lg wow fadeInUp" data-wow-delay="0.3s">
        <div class="d-flex flex-row border border-1 rounded-4 p-3 mb-3 bg-white" *ngIf="notLogin">
          <img src="./../../../assets/image/gift.png" alt="" class="me-3">
          <div class="my-auto">
            <p class="fw-bold">Đăng nhập hoặc Đăng ký và tận hưởng ưu đãi dành riêng cho thành viên</p>
            <a href="login" class="fw-bold">Đăng nhập hoặc đăng ký</a>
          </div>
        </div>
        <!-- Bắt đầu phần Lọc -->
        <div class="container bg-white rounded-3 border: 1px solid #e9ecef;">
          <div class="">
            <div class="bg-white">
              <div class="row px-4">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col">
                      <label for="date_in">Ngày nhập phòng</label>
                      <p-calendar class="w-100" [(ngModel)]="checkin" [minDate]="minimumDate" [numberOfMonths]="2"
                        dateFormat="dd-mm-yy" [touchUI]="true" styleClass="prime-input-override"></p-calendar>
                    </div>
                    <div class="col">
                      <label for="date_out">Ngày trả phòng</label>
                      <p-calendar class="w-100" [(ngModel)]="checkout" [minDate]="minimumDate" [numberOfMonths]="2"
                        dateFormat="dd-mm-yy" [touchUI]="true" styleClass="prime-input-override"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex justify-content-evenly" style="margin-top: 35px;">
                  <div>
                    <button class="btn btn-primary w-100" (click)="onChangeDate()">Tìm kiếm</button>
                  </div>
                  <!-- <div>
                    <button class="btn btn-primary w-100" (click)="resetdate()">Đặt lại</button>
                  </div> -->
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-between">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-search"></i>
            </span>
            <input class="w-10 px-2" style="border: 1px solid #e9ecef;" pInputText
              placeholder="Thành phố, khách sạn hoặc điểm đến" #searchInput />
            <button (click)="onSearch(searchInput.value)">Search</button>
          </div>

        </div> -->
        <!-- Start Thông tin -->

        <div class="d-flex justify-content-between mt-4 bg-white border border-1 mb-3" *ngFor="let data of hotels | paginate: { itemsPerPage: 5, currentPage: p }">
          <div class="col-4 p-0">
            <a href="/hotel/{{ data.id }}">
              <!-- <img style="width: 100%;" src="./../../../assets/image/ks1.jpg" alt=""> -->
              <img *ngIf="data.images" style="width: 100%;" [src]="'http://127.0.0.1:8000/Images/'+data.images[0].path"
                alt="">
            </a>
          </div>
          <div class="col">
            <a href="/hotel/{{ data.id }}">
              <h5><strong>Khách sạn {{ data.hotel_name }}</strong></h5>
            </a>

            <h6><strong>{{ data.hotel_name }}</strong></h6>
            <div class="d-flex mb-2">
              <small class="bg-primary text-white rounded-5 py-1 px-3"><strong>Hotel</strong>
              </small>
              <div class="ps-2">
                <form [formGroup]="formStar">
                  <p-rating class="my-auto" formControlName="value" [cancel]="false" [readonly]="true"></p-rating>
                </form>
              </div>
            </div>
            <div class="mb-2">
              <i class="fa fa-map-marker text-primary me-3"></i>
              <span>{{ data.hotel_address }}</span>
            </div>
          </div>
        </div>
        <!-- End Thông tin -->

        <!-- Phân trang start -->
        <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
        <!-- <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
          [rowsPerPageOptions]="[5, 10, 20, 30]"></p-paginator> -->
        <!-- Phân trang end -->
      </div>
    </div>
  </div>
</div>
<!-- Room End -->
