<div class="mb-3 d-flex justify-content-between">
  <button nz-button nzType="primary" nzSize="large" (click)="showModalAddUser()" *ngIf="role">{{'button.add_new' | translate}}</button>

  <form class="d-flex">
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </form>

</div>
<nz-table #basicTable [nzData]="users">
  <thead>
    <tr>
      <th>Quyền</th>
      <th>Email</th>
      <th>Giới tính</th>
      <th>Số điện thoại</th>
      <th *ngIf="role">Kích hoạt</th>
      <th *ngIf="role">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.roles[0].name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.phone_number }}</td>
      <td *ngIf="role"><nz-switch [(ngModel)]="data.active" (ngModelChange)="confirmChangeStatus($event,data)" [disabled]="!role" *ngIf="data.name != 'Admin'"></nz-switch></td>
      <td *ngIf="role">
        <q-menu
          *ngIf="data.name != 'Admin'"
          [model]="menus"
          (buttonItem)="dropdownItemsButton(data)">
        </q-menu>
      </td>
    </tr>
  </tbody>
</nz-table>



<!--  -->
<ng-container *ngIf="isVisibleUser">
  <app-add-user
    [user]="user"
    [isVisibleUser]="isVisibleUser"
    (submitUser)="submitUser()"
    (closeUser)="closeUser()">
  </app-add-user>
</ng-container>

<ng-container *ngIf="displayPermision">
  <update-user
    [userID]="userID"
    [displayPermision]="displayPermision"
    [Urole]="Urole"
    [hotelID]="hotelID"
    (closeUser)="closeUser()">
  </update-user>
</ng-container>

