<nz-modal
  [(nzVisible)]="displayBookingForm"
  nzTitle="Duyệt sản phẩm"
  nzWidth="980px"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>

    <nz-divider nzText="Thông tin chung" nzOrientation="left"></nz-divider>
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>#</th>
          <th>{{'bookings.booking_number' | translate}}</th>
          <th>{{'bookings.checkin_date' | translate}}</th>
          <th>{{'bookings.checkout_date' | translate}}</th>
          <th>{{'bookings.people_quantity' | translate}}</th>
          <th>{{'bookings.coupon_id' | translate}}</th>
          <th>{{'bookings.total_price' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{ dataDetail.booking_number }}</td>
          <td>{{ dataDetail.checkin_date }}</td>
          <td>{{ dataDetail.checkout_date }}</td>
          <td>{{ dataDetail.people_quantity }}</td>
          <td>{{ dataDetail.coupon }}</td>
          <td><b>{{ dataDetail.total_price | currency: 'VND' }}</b></td>
        </tr>
      </tbody>
    </nz-table>

    <nz-divider nzText="Thông tin khách hàng" nzOrientation="left"></nz-divider>
    <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>#</th>
          <th>{{'bookings.guest_email' | translate}}</th>
          <th>{{'bookings.user' | translate}}</th>
          <th>{{'bookings.guest_phone' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{ dataDetail.guest_email }}</td>
          <td>{{ dataDetail.guest_name }}</td>
          <td>{{ dataDetail.guest_phone }}</td>
      </tbody>
    </nz-table>

    <nz-divider nzText="Chi tiết" nzOrientation="left"></nz-divider>
    <form [formGroup]="formGroup">

      <nz-table nzTemplateMode>
        <thead>
          <tr>
            <th>#</th>
            <th>{{'hotel.name' | translate}}</th>
            <th>{{'room.room_number' | translate}}</th>
            <th>{{'room_type.name' | translate}}</th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngFor="let item of roomItems.controls; let i = index" [formGroupName]="i">
            <td>{{ i + 1 }}</td>
            <td>{{ item.value.room_type.room_type.hotel.hotel_name }}</td>
            <td>
              <!-- <button class="btn btn-primary" (click)="roomList(data)">
                Xếp phòng
              </button> -->
                <select class="form-select" formControlName="room_id" (change)="changeRoomDetail($event,item.value)" *ngIf="!item.value.room_id">
                  <option [value]="null" >Chọn</option>
                  <ng-container *ngFor="let room of item.value.roomItems">
                    <option [value]="room.room_number" >
                      {{room.room_number}}
                    </option>
                  </ng-container>
                </select>

                <ng-container *ngIf="item.value.room_id">
                  {{item.value.room_id}}
                </ng-container>
            </td>
            <td>{{ item.value.room_type.room_type.name }}</td>
          </tr>
        </tbody>
      </nz-table>

    </form>

    <ng-container *ngIf="booking.length > 0">
      <nz-divider nzText="Ghi chú" nzOrientation="left"></nz-divider>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [disabled]="true">{{booking[0].note}}</textarea>
    </ng-container>

  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="refuseCancel()" nzDanger>Refuse</button>
    <button nz-button nzType="primary" (click)="handleOk()" [disabled]="formGroup.invalid || validRoom">Accept</button>
  </div>
</nz-modal>

