<div class="mb-3">
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="addRoom()" >{{'button.add_new' | translate}}</button>
</div>
<!-- <nz-table #basicTable [nzData]="room">
  <thead>
    <tr>
      <th>#</th>
      <th>{{'room.room_number' | translate}}</th>
      <th>{{'status' | translate}}</th>
      <th>{{'action' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.room_number }}</td>
      <td>{{ data.status }}</td>
      <td>
        <q-menu
          [model]="menus"
          (buttonItem)="dropdownItemsButton(data)">
        </q-menu>
      </td>
    </tr>
  </tbody>
</nz-table> -->

<div class="row">
  <ng-container *ngFor="let data of room; let i = index">
    <div class="col-2" (click)="editRoom(data)">
      <nz-card [ngClass]="[
        data.status == 1 ? 'background-blue' : '',
        data.status == 1 ? 'color-white' : 'dark-color',
        'border-style']"
        >
        Phòng {{data.room_number}}
      </nz-card>
    </div>
  </ng-container>
</div>

<create-update-room
  *ngIf="displayCreateUpdateRoom"
  [roomId]="roomId"
  [displayCreateUpdateRoom]="displayCreateUpdateRoom"
  (closeModal)="cancel($event)">
</create-update-room>
