.background-blue{
  background-color: #1890ff;
}
.color-white{
  color: #fff;
  font-weight: 500;
}

.border-style{
  border-radius: 8px;
  cursor: pointer;
}

.dark-color{
  color: #333;
  font-weight: 500;
}
