.mid{
  width: 322px;
  height: auto;
  margin: auto;
  position: relative;
  top: 170px;
  padding: 10px;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
