.mid{
  width: 322px;
  height: auto;
  margin: auto;
  position: relative;
  padding: 10px;
}
.login-form {
  max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
