<div class="cart-body mt-5">
  <form class="form-horizontal row" method="post" action="">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
      <!--CREDIT CART PAYMENT-->
      <!-- <div class="panel panel-info">
        <div class="panel-heading p-2"><span><i class="glyphicon glyphicon-lock my-2"></i></span> Thanh toán</div>
        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-12 my-1"><strong>Ngân hàng:</strong></div>
            <div class="col-md-12 my-1">
              <select id="CreditCardType" name="CreditCardType" class="form-control">
                <option value="5">Techcombank</option>
                <option value="6">Vietvibank</option>
                <option value="7">Haichanbank</option>
                <option value="8">SGBBBank</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 my-1"><strong>Số thẻ: </strong></div>
            <div class="col-md-12 my-1"><input type="text" class="form-control" name="car_number" value="" /></div>
          </div>
          <div class="form-group">
            <div class="col-md-12 my-1"><strong>CVC/CVV: </strong></div>
            <div class="col-md-12 my-1"><input type="text" class="form-control" name="car_code" value="" /></div>
          </div>
          <div class="form-group">
            <div class="col-md-12 my-1">
              <strong>Ngày hết hạn: </strong>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="">
                  <option value="">Tháng</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="">
                  <option value="">Năm</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                </select>
              </div>
            </div>

          </div>
          <div class="form-group">
            <div class="col-md-12 my-1">
              <span>Thanh toán an toàn bằng thẻ tín dụng của bạn.</span>
            </div>
            <div class="col-md-12 my-1">
              <ul class="cards">
                <li class="visa hand">Visa</li>
                <li class="mastercard hand">MasterCard</li>
                <li class="amex hand">Amex</li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="form-group mt-4">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <button class="btn btn-primary btn-submit-fix" (click)="paymentTransaction()">Đặt Phòng</button>
            </div>
          </div>
        </div>
      </div> -->
      <!--CREDIT CART PAYMENT END-->

      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <p-dropdown
          styleClass="prime-input-override"
          formControlName="bank_code"
          [options]="banks"
          placeholder="Select a bank"
        ></p-dropdown>
        <!-- <button class="btn btn-primary btn-submit-fix" (click)="paymentTransaction()">Đặt Phòng</button> -->
        <button class="btn btn-primary btn-submit-fix mt-5" type="submit" [disabled]="!paymentForm.valid" >Thanh toán</button>
      </form>
    </div>
    <div class="col bg-white rounded-4 p-0 border border-1 h-fit" *ngIf="paymentData">
      <!-- Thông tin đơn hàng -->
      <div class="d-flex flex-row p-3">
        <img src="./../../../assets/image/hotelvsg.svg" class="me-4 my-auto" alt="">
        <div class="my-auto">
          <h5 class="fw-bold" style="font-size: 15px;">Khách sạn {{ hotel_name }}</h5>
          <h5 class="" style="font-size: 14px;">{{ hotel_name }}</h5>
        </div>
      </div>
      <div class="py-3 px-3" style="background-color: #f7f9fa;">
        <div class="date-in-out row">
          <div class="col">
            <p class="gray-text">Ngày nhận phòng:</p>
          </div>
          <div class="col">
            <p>{{ displayDateIn }}, Từ 14:00</p>
          </div>
        </div>
        <div class="date-in-out row">
          <div class="col">
            <p class="gray-text">Ngày trả phòng:</p>
          </div>
          <div class="col">
            <p>{{ displayDateOut }}, Trước 12:00</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="my-auto">
          <div *ngFor="let item of roomTypeData; let i = index">
            <h5 class="fw-bold" style="font-size: 15px;">({{ item.quantity }}x) {{ item.roomType_name }}</h5>
            <div class="">
              <div class="date-in-out row">
                <div class="col">
                  <p class="gray-text">Tổng giá loại phòng:</p>
                </div>
                <div class="col">
                  <p>{{ item.totalPrice | currency: 'VND' }}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="date-in-out row" *ngIf="CouponId">
              <div class="col">
                <p class="gray-text">Giảm giá:</p>
              </div>
              <div class="col">
                <p>
                  <Del class="text-green-500">-{{ discountAmount | currency: 'VND' }}</Del>
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="date-in-out row">
              <div class="col">
                <p class="gray-text">Tổng tiền</p>
              </div>
              <div class="col text-primary fw-bold fs-5">
                <p>{{ totalAmount | currency: 'VND' }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Thông tin khách hàng -->
      <div class="d-flex flex-row p-3">
        <img src="./../../../assets/image/guest.svg" class="me-4 my-auto" style="width: 30px;" alt="">
        <div class="my-auto">
          <h5 class="fw-bold my-auto" style="font-size: 15px;">Thông tin khách hàng</h5>
        </div>
      </div>
      <div class="py-3 px-3" style="background-color: #f7f9fa;">
        <div class="date-in-out row">
          <div class="col">
            <p class="gray-text">Tên khách hàng: </p>
          </div>
          <div class="col">
            <p>{{ paymentData.guest_name }}</p>
          </div>
        </div>
        <div class="date-in-out row">
          <div class="col">
            <p class="gray-text">Email: </p>
          </div>
          <div class="col">
            <p>{{ paymentData.guest_email }}</p>
          </div>
        </div>
        <div class="date-in-out row">
          <div class="col">
            <p class="gray-text">Số điện thoại: </p>
          </div>
          <div class="col">
            <p>{{ paymentData.guest_phone }}</p>
          </div>
        </div>
      </div>
    </div>


  </form>
</div>
