<div class="text-center my-5">
  <h1 class="text-uppercase">Tìm kiếm đơn đặt phòng của bạn ở đây</h1>
  <span class="w-100 ">
    <!-- <i class="pi pi-search"></i> -->
    <input class=" py-2 px-4 border border-1 rounded-5" style="width: 75%;" type="text" [(ngModel)]="searchCode"
      placeholder="Điền mã đơn của bạn vào đây VD: HD35_47466892" />
  </span>
  <button class="py-2 px-4 bg-primary rounded-5 border-0 fw-bold" (click)="onSearch()">Tìm</button>

    <div class="my-4" *ngIf="showTable">
      <nz-table #basicTable [nzData]="bookingFilters">
        <thead>
          <tr>
            <th>#</th>
            <th>{{'bookings.booking_number' | translate}}</th>
            <th>{{'bookings.user' | translate}}</th>
            <th>{{'bookings.checkin_date' | translate}}</th>
            <th>{{'bookings.checkout_date' | translate}}</th>
            <th>{{'bookings.coupon_id' | translate}}</th>
            <th>{{'bookings.note' | translate}}</th>
            <th>{{'status' | translate}}</th>
            <th>{{'action' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.booking_number }}</td>
            <td>{{ data.guest_name }}</td>
            <td>{{ data.checkin_date }}</td>
            <td>{{ data.checkout_date }}</td>
            <td>{{ data.coupon }}</td>
            <td>{{ data.note }}</td>
            <td><nz-tag [nzColor]="'#f50'">{{data.txtStatus}}</nz-tag></td>
            <td>
              <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="updateStatus(data.id)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <payment-detail
      *ngIf="displayBookingForm"
      [displayBookingForm]="displayBookingForm"
      [bookingId]="bookingId"
      (closeModal)="eventSubmit($event)"
    >
    </payment-detail>
    <div *ngIf="data && data.length < 0" class="my-5">
      Mã đơn sai hoặc không tồn tại, thử nhập lại hoặc liên hệ tới khách sạn bạn đặt phòng!
    </div>
</div>
