<div class="mb-3" *ngIf="role">
  <nz-tabset nzType="card">
    <nz-tab *ngFor="let tab of statusOptions" [nzTitle]="tab.text" (nzClick)="valueFilter(tab.value)">

      <nz-table #basicTable [nzData]="bookingFilters">
        <thead>
          <tr>
            <th>#</th>
            <th>{{'bookings.user' | translate}}</th>
            <th>{{'bookings.checkin_date' | translate}}</th>
            <th>{{'bookings.checkout_date' | translate}}</th>
            <th>{{'bookings.coupon_id' | translate}}</th>
            <th>{{'bookings.note' | translate}}</th>
            <th>{{'status' | translate}}</th>
            <th *ngIf="role">{{'action' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.guest_name }}</td>
            <td>{{ data.checkin_date }}</td>
            <td>{{ data.checkout_date }}</td>
            <td>{{ data.coupon }}</td>
            <td>{{ data.note }}</td>
            <td><nz-switch [(ngModel)]="data.status" [disabled]="!role"></nz-switch></td>
            <td *ngIf="role">

            </td>
          </tr>
        </tbody>
      </nz-table>

    </nz-tab>
  </nz-tabset>
</div>
