<div class="mb-3" *ngIf="role">
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="addRegion()" >{{'button.add_new' | translate}}</button>
</div>
<nz-table #basicTable [nzData]="regions" *ngIf="role">
  <thead>
    <tr>
      <th>#</th>
      <th>{{'region.name' | translate}}</th>
      <th>Ảnh</th>
      <th>{{'action' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.name }}</td>
      <td>
        <img nz-image width="100px" height="100px"
          [nzSrc]="'http://127.0.0.1:8000/Images/regions/'+data.image"
          alt=""
        />
      </td>
      <td>
        <q-menu
          [model]="menus"
          (buttonItem)="dropdownItemsButton(data)">
        </q-menu>
      </td>
    </tr>
  </tbody>
</nz-table>

<create-update-region
  *ngIf="displayCreateUpdateRegion"
  [displayCreateUpdateRegion]="displayCreateUpdateRegion"
  [regionId]="regionId"
  (closeModal)="cancel($event)">
</create-update-region>
