<!-- Room Start -->
<div class="container-xxl py-5 " style="background-color: #f7f9fa;">
  <div class="container">
    <div class="row mt-5">
      <!-- Left -->
      <div class="col-lg-3">
        <!-- Sort start -->
        <div class="rounded-3 border border-3 overflow-hidden p-2 mb-3 bg-white">
          <div>
            <h5 class="fw-bold">Sắp xếp kết quả</h5>
            <h6>Sắp xếp kết quả theo lựa chọn</h6>
          </div>
          <hr>
          <div>
            <div class="">
              <div class="d-flex flex-column gap-3">
                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="highestPrice" [(ngModel)]="sortRadio"
                    inputId="sortRadio1"></p-radioButton>
                  <label for="sortRadio1" class="ml-2 fw-medium">Giá cao nhất</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="lowestPrice" [(ngModel)]="sortRadio"
                    inputId="sortRadio2"></p-radioButton>
                  <label for="sortRadio2" class="ml-2 fw-medium">Giá thấp nhất</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="pointEvaluation" [(ngModel)]="sortRadio"
                    inputId="sortRadio3"></p-radioButton>
                  <label for="sortRadio3" class="ml-2 fw-medium">Điểm đánh giá</label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton name="sort" value="popularity" [(ngModel)]="sortRadio"
                    inputId="sortRadio4"></p-radioButton>
                  <label for="sortRadio4" class="ml-2 fw-medium">Độ phổ biến</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sort start -->

        <!-- Start Khu vực -->
        <div class="rounded-3 border border-3 overflow-hidden p-2 mb-3 bg-white">
          <div>
            <h5 class="fw-bold">Khu vực</h5>
            <h6>Hiển thị khách sạn theo khu vực</h6>
          </div>
          <hr>
          <div>
            <div class="">
              <div class="d-flex flex-column gap-3">
                <div *ngFor="let region of regions">
                  <p-radioButton name="regionOption" [value]="region.id" [(ngModel)]="selectedRegion" (onClick)="onRegionSelected(region.id)"></p-radioButton>
                  <label>{{ region.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Khu vực -->

        <!-- Filter start -->
        <!-- <div class="room-item rounded-3 border border-3 overflow-hidden mb-3 bg-white">
          <div class="p-2">
            <div class="d-flex justify-content-between">
              <h5 class="fw-bold">Lọc kết quả</h5>
              <a href="">Đặt lại bộ lọc</a>
            </div>
            <h6>Lọc kết quả phân loại theo:</h6>
            <hr>
          </div>

          <p-accordion [multiple]="true" [activeIndex]="[0]" class="accordion-override">
            <p-accordionTab [selected]="isExpanded">
              <ng-template pTemplate="header">
                <h6 class="fw-bold">Chính sách đặt phòng</h6>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Miễn phí hủy phòng</label>
                </div>
              </ng-template>
            </p-accordionTab>
            <p-accordionTab [selected]="isExpanded">
              <ng-template pTemplate="header">
                <h6 class="fw-bold">Khoảng giá phòng mỗi đêm</h6>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="d-flex justify-content-between mb-4">
                  <div class="px-4 py-2 rounded-4 border border-1 me-3">
                    <span class="fw-bold">VND</span> 0
                  </div>
                  <div class="px-4 py-2 rounded-4 border border-1">
                    <span class="fw-bold">VND</span> 24.000.000
                  </div>
                </div>
                <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>
              </ng-template>
            </p-accordionTab>
            <p-accordionTab [selected]="isExpanded">
              <ng-template pTemplate="header">
                <h6 class="fw-bold">Hạng sao</h6>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <div class="ps-2">
                    <small class="fa fa-star text-primary fs-6"></small>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <div class="ps-2">
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <div class="ps-2">
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <div class="ps-2">
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <div class="ps-2">
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                    <small class="fa fa-star text-primary fs-6"></small>
                  </div>
                </div>
              </ng-template>
            </p-accordionTab>
            <p-accordionTab [selected]="isExpanded">
              <ng-template pTemplate="header">
                <h6 class="fw-bold">Tiện nghi</h6>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Wifi</label>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Hồ bơi</label>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Chỗ để xe</label>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Thang máy</label>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                  <label for="binary" class="ml-3 fw-medium">Lễ tân 24h</label>
                </div>
              </ng-template>
            </p-accordionTab>
          </p-accordion>
        </div> -->
        <!-- Filter end -->
      </div>

      <!-- Right -->
      <div class="col-lg wow fadeInUp" data-wow-delay="0.3s">
        <div class="d-flex flex-row border border-1 rounded-4 p-3 mb-3 bg-white">
          <img src="./../../../assets/image/gift.png" alt="" class="me-3">
          <div class="my-auto">
            <p class="fw-bold">Đăng nhập hoặc Đăng ký và tận hưởng ưu đãi dành riêng cho thành viên</p>
            <a href="login" class="fw-bold">Đăng nhập hoặc đăng ký</a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-search"></i>
            </span>
            <input class="w-10 px-2" style="border: 1px solid #e9ecef;" pInputText
              placeholder="Thành phố, khách sạn hoặc điểm đến" #searchInput />
            <button (click)="onSearch(searchInput.value)">Search</button>
            <!-- <button (click)="resetSearch()">Reset</button> -->
          </div>
        </div>
        <!-- Start Thông tin -->

        <div class="d-flex justify-content-between mt-4 bg-white border border-1 mb-3" *ngFor="let data of hotels">
          <div class="col-4 p-0">
            <a href="/hotel/{{ data.id }}">
              <!-- <img style="width: 100%;" src="./../../../assets/image/ks1.jpg" alt=""> -->
              <img *ngIf="data.images[0]" style="width: 100%;" [src]="'http://127.0.0.1:8000/Images/'+data.images[0].path" alt="">
            </a>
          </div>
          <div class="col">
            <a href="/hotel/{{ data.id }}">
              <h5><strong>Khách sạn {{ data.hotel_name }}</strong></h5>
            </a>

            <h6><strong>{{ data.hotel_name }}</strong></h6>
            <div class="d-flex mb-2">
              <small class="bg-primary text-white rounded-5 py-1 px-3"><strong>Hotel</strong>
              </small>
              <div class="ps-2">
                <form [formGroup]="formStar">
                  <p-rating class="my-auto" formControlName="value" [cancel]="false" [readonly]="true"></p-rating>
                </form>
              </div>
            </div>
            <div class="mb-2">
              <i class="fa fa-map-marker text-primary me-3"></i>
              <span>{{ data.hotel_address }}</span>
            </div>
          </div>
        </div>
        <!-- End Thông tin -->

        <!-- Phân trang start -->
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
          [rowsPerPageOptions]="[5, 10, 20, 30]"></p-paginator>
        <!-- Phân trang end -->
      </div>
    </div>
  </div>
</div>
<!-- Room End -->
