<!-- Start Hotel Amenities -->
<div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">
  <h5 class="mb-5"><strong>Xem thêm đánh giá từ khách khác</strong></h5>
  <div *ngIf="feedbacks.length > 0">
    <div class="row rounded-4 border border-1 p-2 mb-2" *ngFor="let feedback of feedbacks">
      <div class="feedback-user col">
        <div class="feedback-user-item">
          <div class="feedback-user-icon rounded-circle bg-gray-200 me-3">
            <i class="fa fa-user"></i>
          </div>
          <span class="fs-6 fw-bold">{{ feedback.booking.guest_name }}</span>
        </div>
      </div>
      <div class="feedback-content col-8">
        <div class="d-flex justify-content-between mb-2">
          <div class="rounded-4 p-2 bg-primary">
            <span class="text-white">{{ feedback.rating }} / 10</span>
          </div>
          <span class="text-gray-500">{{ feedback.created_at | date: 'dd/MM/yyyy' }}</span>
        </div>
        <p style="color: black; font-weight: 500;">{{ feedback.content }}.</p>
      </div>
    </div>
  </div>

  <div class="row mt-5 rounded-4 border border-1 text-center" *ngIf="feedbacks.length <= 0">
    <h3 class="my-auto">Khách sạn này chưa có đánh giá nào.</h3>
  </div>
</div>
<!-- End Hotel Amenities -->
