<nz-modal
  [(nzVisible)]="displayCreateUpdateRoom"
  [nzTitle]="roomId ? 'Chỉnh sửa' : 'Thêm mới'"
  nzWidth="980px"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="formRoom">
      <div class="row">

        <!-- <div class="col-12">
          <div class="mb-3">
            <label for="hotel" class="form-label">{{'hotel.name' | translate}}</label>
            <select class="form-select" formControlName="hotel_id" aria-label="Default select example" (change)="changeHotel($event)">
              <ng-container *ngFor="let hotel of hotels">
                <option [value]="hotel.id">{{hotel.hotel_name}}</option>
              </ng-container>
            </select>
          </div>
        </div> -->

        <div class="col-12">
          <div class="mb-3">
            <label for="room_type" class="form-label">{{'room_type.name' | translate}}</label>
            <select class="form-select" formControlName="room_type_id" aria-label="Default select example">
              <ng-container *ngFor="let roomType of roomTypesFilter">
                <option [value]="roomType.id">{{roomType.name}} - {{roomType.hotel.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-3">
            <label for="name" class="form-label">{{'room.room_number' | translate}}</label>
            <input type="number" class="form-control" id="name" formControlName="room_number" placeholder="Số phòng">
          </div>
        </div>

      </div>
    </form>
  </ng-container>
</nz-modal>
