<div class="mb-3">
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="addRoomType()" >{{'button.add_new' | translate}}</button>
</div>
<nz-table #basicTable [nzData]="roomTypes">
  <thead>
    <tr>
      <th>#</th>
      <th>{{'hotel.name' | translate}}</th>
      <th>{{'region.name' | translate}}</th>
      <th>{{'room_type.name' | translate}}</th>
      <th>{{'room_type.price_per_night' | translate}}</th>
      <th>{{'room_type.capacity' | translate}}</th>
      <th>{{'room.quantity' | translate}}</th>
      <th>{{'description' | translate}}</th>
      <th>{{'action' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.hotel.name }}</td>
      <td>{{ data.hotel.region }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.price_per_night | currency: 'VND' }}</td>
      <td>{{ data.capacity }}</td>
      <td>{{ data.room.length }}</td>
      <td>{{ data.description }}</td>
      <td>
        <q-menu
          [model]="menus"
          (buttonItem)="dropdownItemsButton(data)">
        </q-menu>
      </td>
    </tr>
  </tbody>
</nz-table>

<create-update-room-type
  *ngIf="displayCreateUpdateRoomType"
  [displayCreateUpdateRoomType]="displayCreateUpdateRoomType"
  [roomTypeId]="roomTypeId"
  (closeModal)="cancel($event)">
</create-update-room-type>
