.box{
  display: flex;
  flex-wrap: wrap;
  .item{
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    img{
      width: 100%;
    }
    label{
      position: absolute;
      left: 5px;
      top: 2px;
    }
    .upload{
      width: 100%;
      height: 100%;
      background: #00000020;
      border: 2px dashed #0000002d;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        border-color: rgba(0, 0, 248, 0.434);
      }
    }
  }
}
