<nz-modal
  [(nzVisible)]="displayMultipleImage"
  nzTitle="Thêm mới"
  nzWidth="980px"
  [nzOkLoading]="isLoading"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div style="border-bottom: 1px solid rgb(233, 233, 233);">
        <label
          nz-checkbox
          [ngModel]="allChecked"
          [(ngModel)]="allChecked"
          (ngModelChange)="updateAllChecked()"
          [nzIndeterminate]="indeterminate"
        >
          Chọn tất cả
        </label>
      </div>
      <br />
      <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
        <div class="box">
          <ng-container *ngFor="let item of checkOptionsOne">
            <div class="item">
              <label nz-checkbox nzValue="A" [ngModel]="item.checked"></label>
              <img [src]="item.url" alt="">
            </div>
          </ng-container>
          <div class="item">
            <input #fileUploader id="file" type="file" class="upload" multiple placeholder="Upload" *ngIf="banner"/>
            <input id="fileSingle" type="file" class="upload" placeholder="Upload" *ngIf="hotel || roomType"/>
          </div>
        </div>
      </nz-checkbox-wrapper>
    </ng-container>
</nz-modal>

