<div class="mb-3" *ngIf="role">
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="addHotel()" >{{'button.add_new' | translate}}</button>
</div>
<nz-table #basicTable [nzData]="hotels">
  <thead>
    <tr>
      <th>#</th>
      <th>{{'hotel.name' | translate}}</th>
      <th>{{'hotel.address' | translate}}</th>
      <th>{{'hotel.phone_number' | translate}}</th>
      <th>{{'hotel.rate' | translate}}</th>
      <th>{{'hotel.region' | translate}}</th>
      <th>{{'status' | translate}}</th>
      <th *ngIf="role">{{'action' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.hotel_name }}</td>
      <td>{{ data.hotel_address }}</td>
      <td>{{ data.hotel_phone }}</td>
      <td>{{ data.star_rating }}</td>
      <td>{{ data.region.name }}</td>
      <td><nz-switch [(ngModel)]="data.status" (ngModelChange)="confirmChangeStatus($event,data)" [disabled]="!role"></nz-switch></td>
      <td *ngIf="role">
        <q-menu
          [model]="menus"
          (buttonItem)="dropdownItemsButton(data)">
        </q-menu>
      </td>
    </tr>
  </tbody>
</nz-table>

<create-update-hotel
  *ngIf="displayCreateUpdateHotel"
  [displayCreateUpdateHotel]="displayCreateUpdateHotel"
  [hotelId]="hotelId"
  (closeModal)="cancel($event)">
</create-update-hotel>

<hotel-image
  *ngIf="displayImage"
  [displayImage]="displayImage"
  [hotel_id]="hotelId"
  (closeModal)="cancel($event)">
</hotel-image>

<detail-hotel
  *ngIf="displayDetail"
  [displayDetail]="displayDetail"
  [hotelId]="hotelId"
  [hotel_name]="hotel_name"
  [roomTypes]="roomTypes"
  (closeModal)="cancel($event)"
></detail-hotel>

