<div class="mb-3">
  <button nz-button [nzSize]="'large'" nzType="primary" (click)="addHotel()" >{{'button.add_new' | translate}}</button>
</div>
<nz-table #basicTable [nzData]="hotels">
  <thead>
    <tr>
      <th>#</th>
      <th>{{'hotel.name' | translate}}</th>
      <th>{{'hotel.address' | translate}}</th>
      <th>{{'hotel.phone_number' | translate}}</th>
      <th>{{'hotel.rate' | translate}}</th>
      <th>{{'hotel.region' | translate}}</th>
      <th>{{'status' | translate}}</th>
      <th>{{'action' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.hotel_name }}</td>
      <td>{{ data.hotel_address }}</td>
      <td>{{ data.hotel_phone }}</td>
      <td>{{ data.star_rating }}</td>
      <td>{{ data.regions_id }}</td>
      <td>{{ data.status }}</td>
      <td></td>
    </tr>
  </tbody>
</nz-table>

<create-update-hotel
  [displayCreateUpdateHotel]="displayCreateUpdateHotel"
  (closeModal)="cancel($event)">
</create-update-hotel>
