<!-- Start Policy -->
<div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">

  <!-- Start Thông tin -->
  <!-- 1 -->
  <div class="d-flex flex-row justify-content-between mb-5">
    <div>
      <h5><strong>Chính Sách Lưu Trú</strong></h5>
    </div>
    <div class="hotel-description">
      <div class=" d-flex flex-row mb-2">
        <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/clock.png" alt="">
        <div>
          <h6><strong>Thời gian nhận phòng/trả phòng</strong></h6>
          <h6>Giờ nhận phòng: Từ 14:00 Giờ trả phòng: Trước 12:00</h6>
        </div>
      </div>
      <hr>
      <div class="d-flex flex-row mb-2">
        <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/notes.png" alt="">
        <div>
          <h6><strong>Hướng Dẫn Nhận Phòng Chung</strong></h6>
          <h6>Please note that your children might be charged when check-in at the hotel. Please call the hotel
            before your check-in date for further information. Vui long luu y, tre em co the bi thu them phi khi
            nhan phong tai khach san. Vui long lien he khach san truoc khi nhan phong de biet them thong tin chi
            tiet.</h6>
        </div>
      </div>
      <hr>
      <div class="d-flex flex-row mb-2">
        <img style="width: 35px; height: 35px; margin-right: 10px;" src="../../../assets/image/notesnopen.png"
          alt="">
        <div>
          <h6><strong>Chính Sách Bổ Sung</strong></h6>
          <h6>Please note that your children might be charged when check-in at the hotel. Please call the hotel
            before your check-in date for further information. Vui long luu y, tre em co the bi thu them phi khi
            nhan phong tai khach san. Vui long lien he khach san truoc khi nhan phong de biet them thong tin chi
            tiet.</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h5><strong>Mô tả khách sạn</strong></h5>
    </div>
    <div class="hotel-description">
      <!-- <div class="d-flex flex-row mb-2">
        <div>
          <h6><strong>Vị trí</strong></h6>
          <p class="fs-6">
            Lưu trú tại Melia Hanoi Hotel là một lựa chọn đúng đắn khi quý khách đến thăm Trần Hưng Đạo.
          </p>
          <p class="fs-6">
            khách sạn nằm cách Hanoi Railway Station 0,77 km.
          </p>
          <p class="fs-6">
            khách sạn này rất dễ tìm bởi vị trí đắc địa, nằm gần với nhiều tiện ích công cộng.
          </p>
        </div>
      </div> -->
      <hr>
      <div class="d-flex flex-row mb-2">
        <div>
          <h6><strong>Thông tin về {{hotel_name}}</strong></h6>
          <p class="fs-6">
            Dù quý khách muốn tổ chức một sự kiện hay các dịp kỷ niệm đặc biệt khác, {{hotel_name}} là lựa chọn
            tuyệt vời cho quý khách với phòng chức năng rộng lớn, được trang bị đầy đủ để sẵn sàng đáp ứng mọi yêu
            cầu.
          </p>
        </div>
      </div>
      <div class="d-flex flex-row mb-2">
        <div style="width: 300px;">
          <h6><strong>Tiện nghi khách sạn</strong></h6>
        </div>
        <div>
          <h6>Máy lạnh, Nhà hàng, Hồ bơi, Lễ tân 24h, Chỗ đậu xe, WiFi, Thang máy</h6>
        </div>
      </div>
      <div class="d-flex flex-row mb-2">
        <div style="width: 300px;">
          <h6><strong>Giờ hoạt động </strong></h6>
        </div>
        <div>
          <h6>Từ 14:00 - Trước 12:00</h6>
        </div>
      </div>
      <!-- <div class="d-flex flex-row mb-2">
        <div style="width: 300px;">
          <h6><strong>Khoảng cách đến khu trung tâm </strong></h6>
        </div>
        <div>
          <h6>513 m</h6>
        </div>
      </div>
      <div class="d-flex flex-row mb-2">
        <div style="width: 300px;">
          <h6><strong>Các địa điểm nổi tiếng </strong></h6>
        </div>
        <div>
          <h6>Nhà thờ Lớn Hà Nội, Hồ Hoàn Kiếm, <br>Thong Nhat Park, Sân bay quốc tế Nội Bài (HAN), Chùa Hương
          </h6>
        </div>
      </div>
      <div class="d-flex flex-row mb-2">
        <div style="width: 300px;">
          <h6><strong>Có phục vụ bữa sáng không? </strong></h6>
        </div>
        <div>
          <h6>Có</h6>
        </div>
      </div> -->
    </div>
  </div>



</div>
<!-- End Policy -->
