<!-- Start Hotel Amenities -->
<div class="room-item shadow rounded-4 overflow-hidden mb-3 p-5">
  <h5><strong>Tiện nghi khách sạn</strong></h5>
  <div class="row mt-5">
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/cook.png" alt="">
        <h6><strong>Ẩm thực</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Quầy bar</div>
        </li>
        <li class="amenities-list-item">
          <div>Câu lạc bộ đêm</div>
        </li>
        <li class="amenities-list-item">
          <div>Quầy bar bên hồ bơi</div>
        </li>
        <li class="amenities-list-item">
          <div>Quầy phục vụ đồ ăn nhẹ</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng (thu phí)</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà hàng có máy lạnh</div>
        </li>
        <li class="amenities-list-item">
          <div>Tiệm cà phê</div>
        </li>
        <li class="amenities-list-item">
          <div>Quầy bar</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa tối với thực đơn chọn sẵn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng và bữa tối</div>
        </li>
        <li class="amenities-list-item">
          <div>Đồ ăn nhẹ</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng và bữa trưa</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng cho người dậy sớm</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng phục vụ món nóng</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng phục vụ tại bàn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng muộn</div>
        </li>
        <li class="amenities-list-item">
          <div>Phục vụ món chay</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng món tự chọn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng với thực đơn gọi món</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa sáng kiểu Âu</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa trưa món tự chọn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa trưa với thực đơn gọi món</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa trưa với thực đơn chọn sẵn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa tối món tự chọn</div>
        </li>
        <li class="amenities-list-item">
          <div>Bữa tối với thực đơn gọi món</div>
        </li>
        <li class="amenities-list-item">
          <div>Tiệc liên hoan</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/pack.png" alt="">
        <h6><strong>Dịch vụ khách sạn</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Dịch vụ concierge/hỗ trợ khách</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ giặt ủi</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ hỗ trợ đặt Tour</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ lưu trữ/bảo quản hành lý</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhân viên gác cổng</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhật báo tại sảnh</div>
        </li>
        <li class="amenities-list-item">
          <div>Đội ngũ nhân viên đa ngôn ngữ</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ tiệc cưới</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ thu đổi ngoại tệ</div>
        </li>
        <li class="amenities-list-item">
          <div>Người gác cửa</div>
        </li>
        <li class="amenities-list-item">
          <div>Điện thoại di động</div>
        </li>
        <li class="amenities-list-item">
          <div>Bảo vệ 24 giờ</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhân viên xách hành lý</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhật báo</div>
        </li>
        <li class="amenities-list-item">
          <div>Lễ tân 24h</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/delive.png" alt="">
        <h6><strong>Các hoạt động</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Mát-xa</div>
        </li>
        <li class="amenities-list-item">
          <div>Hồ nước nóng Jacuzzi</div>
        </li>
        <li class="amenities-list-item">
          <div>Trung tâm thể dục thể hình</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng xông hơi</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ spa</div>
        </li>
        <li class="amenities-list-item">
          <div>Hồ bơi ngoài trời</div>
        </li>
        <li class="amenities-list-item">
          <div>Vườn hoa</div>
        </li>
        <li class="amenities-list-item">
          <div>Xông hơi ướt</div>
        </li>
        <li class="amenities-list-item">
          <div>Bồn tắm nước nóng</div>
        </li>
        <li class="amenities-list-item">
          <div>Sòng bạc</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng xem TV</div>
        </li>
        <li class="amenities-list-item">
          <div>Khu vui chơi trẻ em</div>
        </li>
        <li class="amenities-list-item">
          <div>Chương trình giải trí cho trẻ em</div>
        </li>
        <li class="amenities-list-item">
          <div>Xông hơi khô/ướt</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t1.png" alt="">
        <h6><strong>Tiện nghi công cộng</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Dịch vụ phòng 24 giờ</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ dọn phòng</div>
        </li>
        <li class="amenities-list-item">
          <div>Bãi đậu xe</div>
        </li>
        <li class="amenities-list-item">
          <div>Két an toàn</div>
        </li>
        <li class="amenities-list-item">
          <div>WiFi tại khu vực chung</div>
        </li>
        <li class="amenities-list-item">
          <div>Tiệm cà phê</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà hàng</div>
        </li>
        <li class="amenities-list-item">
          <div>Cà phê/trà tại sảnh</div>
        </li>
        <li class="amenities-list-item">
          <div>Thang máy</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà hàng phục vụ bữa sáng</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà hàng phục vụ bữa trưa</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà hàng phục vụ bữa tối</div>
        </li>
        <li class="amenities-list-item">
          <div>Trả phòng muộn</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhận phòng sớm</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t2.png" alt="">
        <h6><strong>Dịch vụ khách sạn</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Dịch vụ concierge/hỗ trợ khách</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ giặt ủi</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ hỗ trợ đặt Tour</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ lưu trữ/bảo quản hành lý</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhân viên gác cổng</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhật báo tại sảnh</div>
        </li>
        <li class="amenities-list-item">
          <div>Đội ngũ nhân viên đa ngôn ngữ</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ tiệc cưới</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ thu đổi ngoại tệ</div>
        </li>
        <li class="amenities-list-item">
          <div>Người gác cửa</div>
        </li>
        <li class="amenities-list-item">
          <div>Điện thoại di động</div>
        </li>
        <li class="amenities-list-item">
          <div>Bảo vệ 24 giờ</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhân viên xách hành lý</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhật báo</div>
        </li>
        <li class="amenities-list-item">
          <div>Lễ tân 24h</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t3.png" alt="">
        <h6><strong>Các hoạt động</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Mát-xa</div>
        </li>
        <li class="amenities-list-item">
          <div>Hồ nước nóng Jacuzzi</div>
        </li>
        <li class="amenities-list-item">
          <div>Trung tâm thể dục thể hình</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng xông hơi</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ spa</div>
        </li>
        <li class="amenities-list-item">
          <div>Hồ bơi ngoài trời</div>
        </li>
        <li class="amenities-list-item">
          <div>Vườn hoa</div>
        </li>
        <li class="amenities-list-item">
          <div>Xông hơi ướt</div>
        </li>
        <li class="amenities-list-item">
          <div>Bồn tắm nước nóng</div>
        </li>
        <li class="amenities-list-item">
          <div>Sòng bạc</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng xem TV</div>
        </li>
        <li class="amenities-list-item">
          <div>Khu vui chơi trẻ em</div>
        </li>
        <li class="amenities-list-item">
          <div>Chương trình giải trí cho trẻ em</div>
        </li>
        <li class="amenities-list-item">
          <div>Xông hơi khô/ướt</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t4.png" alt="">
        <h6><strong>Vận chuyển</strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Đưa đón sân bay</div>
        </li>
        <li class="amenities-list-item">
          <div>Bãi đậu xe có người phục vụ</div>
        </li>
        <li class="amenities-list-item">
          <div>Đưa đón trong khu vực</div>
        </li>
        <li class="amenities-list-item">
          <div>Giữ xe đạp</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ cho thuê xe đạp</div>
        </li>
        <li class="amenities-list-item">
          <div>Nhà chứa xe</div>
        </li>
        <li class="amenities-list-item">
          <div>Cho thuê xe hơi</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t5.png" alt="">
        <h6><strong>Tiện nghi văn phòng
          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Dịch vụ văn phòng</div>
        </li>
        <li class="amenities-list-item">
          <div>Tiện nghi hội họp</div>
        </li>
        <li class="amenities-list-item">
          <div>Máy tính</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng hội nghị</div>
        </li>
        <li class="amenities-list-item">
          <div>Máy chiếu</div>
        </li>
        <li class="amenities-list-item">
          <div>Máy photocopy</div>
        </li>
        <li class="amenities-list-item">
          <div>Các tiện nghi văn phòng</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t6.png" alt="">
        <h6><strong>Hỗ trợ người khuyết tật
          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Phòng tắm phù hợp cho người khuyết tật</div>
        </li>
        <li class="amenities-list-item">
          <div>Trang bị phòng phù hợp với người khuyết tật</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng tắm phù hợp với xe lăn</div>
        </li>
        <li class="amenities-list-item">
          <div>Phòng được trang bị phù hợp cho người khuyết tật
          </div>
        </li>
        <li class="amenities-list-item">
          <div>Phù hợp cho xe lăn</div>
        </li>
        <li class="amenities-list-item">
          <div>Thuận tiện cho người khuyết tật</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t7.png" alt="">
        <h6><strong>Các tiện ích lân cận
          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Cửa hàng</div>
        </li>
        <li class="amenities-list-item">
          <div>Máy ATM/Ngân hàng</div>
        </li>
        <li class="amenities-list-item">
          <div>Hiệu làm tóc</div>
        </li>
        <li class="amenities-list-item">
          <div>Cửa hàng thực phẩm</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t8.png" alt="">
        <h6><strong>Tiện nghi phù hợp với gia đình
          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Hồ bơi trẻ em</div>
        </li>
        <li class="amenities-list-item">
          <div>Câu lạc bộ thiếu nhi</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t9.png" alt="">
        <h6><strong>Thể thao & Giải trí
          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Trung tâm thể dục thể hình</div>
        </li>
        <li class="amenities-list-item">
          <div>Sân thể thao</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t10.png" alt="">
        <h6><strong>Trẻ em và Thú cưng

          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Giữ trẻ</div>
        </li>
        <li class="amenities-list-item">
          <div>Dịch vụ trông trẻ có người giám hộ</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t11.png" alt="">
        <h6><strong>Kết nối mạng

          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Mạng Internet cục bộ</div>
        </li>
        <li class="amenities-list-item">
          <div>Điểm truy cập Internet</div>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <img style="width: 24px; height: 24px; margin-right: 10px;" src="../../../assets/image/t12.png" alt="">
        <h6><strong>Đưa đón

          </strong></h6>
      </div>
      <ul style="padding-left:0">
        <li class="amenities-list-item">
          <div>Đưa đón sân bay</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Hotel Amenities -->
